


/*  Tab
============================================================== */
    
    /* Tablist
    ---------------------------------------------------------- */
    .cs-tab                                        { margin-left: 0; margin-bottom: 0; }      /* Fix Default style ul */
    .cs-tab .cs-pagitem > a                                 { display: block; }
    .cs-tab a > span {
        display: block;
        color: #ccc;
        font-size: .85em;
        font-style: italic;
    }
    body .cs-tab .cs-pagitem.sl-cur                    { border-bottom: 4px solid #0cf; }
    
    /* Tablist color */
    body .cs-tab .cs-pagitem:hover > a,
    body .cs-tab .cs-pagitem:hover > a > :first-child,
    body .cs-tab .cs-pagitem.sl-cur > a,
    body .cs-tab .cs-pagitem.sl-cur > a > :first-child     { color: #0cf; }

    
    /*  Tab Horizotal
    ---------------------------------------------------------- */
    .tab-hor                                        { margin-bottom: 30px; }

    /* Tablist */
    .tab-hor .cs-tab                               { border-bottom: 1px solid #e5e5e5; }
    .tab-hor .cs-tab .cs-pagitem {
        display: inline-block;
        *display: inline; zoom: 1;                  /* Fix IE7 */
        margin-right: 30px; margin-bottom: 0;
    }
    .tab-hor .cs-tab .cs-pagitem:hover,
    .tab-hor .cs-tab .cs-pagitem.sl-cur                    { margin-bottom: -1px; }
    .tab-hor .cs-tab .cs-pagitem:last-child                 { margin-right: 0; }
    .tab-hor .cs-tab .cs-pagitem > a                        { padding-top: 13px; padding-bottom: 13px; color: #ccc; }
    .tab-hor .cs-tab .cs-pagitem > a > *                    { margin-bottom: 0; }
    
    /* Tab Section */
    .tab-hor section                                { display: none; padding-top: 20px; padding-bottom: 20px; }
    .tab-hor section > :first-child                 { display: none; }
    .tab-hor section.actived                        { display: inherit; *display: block; }

    /* Tab Style Background */
    .tab-hor.bg                                     { margin-bottom: 30px; }
    .tab-hor.bg .cs-tab                            { border-bottom: 2px solid #0cf; }
    .tab-hor.bg .cs-tab .cs-pagitem                         { margin-right: 1px; }
    .tab-hor.bg .cs-tab .cs-pagitem:last-child              { margin-right: 0; }

    .tab-hor.bg .cs-tab .cs-pagitem > a                     { padding: 10px 15px; }
    .tab-hor.bg .cs-tab .cs-pagitem.sl-cur > a {
        border-bottom: none;
        background-color: #0cf;
        color: #fff;
    }

    .tab-hor.bg section {
        padding-left: 15px; padding-right: 15px;
        border: 1px solid #e5e5e5;
        border-top: none;
        background-color: #fff;
    }

    /*  Tab Mini */
    .tab-hor.tab-mini .cs-tab .cs-pagitem                   { margin-right: 1px; vertical-align: bottom; }
    .tab-hor.tab-mini .cs-tab .cs-pagitem:last-child        { margin-right: 0; }
    .tab-hor.tab-mini .cs-tab .cs-pagitem > a               { width: 60px; height: 20px; padding: 0; }
    .tab-hor.tab-mini .cs-tab .cs-pagitem:hover > a,
    .tab-hor.tab-mini .cs-tab .cs-pagitem.sl-cur > a       { padding-bottom: 1px; }
    
    
    /*  Tab Vertical
    ---------------------------------------------------------- */
    .tab-ver                                        { position: relative; overflow-y: hidden; margin-bottom: 30px; }

    /* Tablist */
    .tab-ver .cs-tab                               { display: block; float: left; height: 100%; }
    .tab-ver .cs-tab .cs-pagitem                            { margin-bottom: 0; }
    .tab-ver .cs-tab .cs-pagitem > a {
        padding-top: 14px; padding-bottom: 15px;
        border-bottom: 1px dotted #ddd;
        color: #999;
    }
    .tab-ver .cs-tab .cs-pagitem.sl-cur > a                { padding-bottom: 12px; }
    .tab-ver .cs-tab a > *                         { margin-bottom: 0; }
    
    /* Tab Section */
    .tab-ver > section                              { display: none; }

    .tabcontent                                     { float: left; }
    .tabcontent > section                           { display: none; }
    .tabcontent > section > :first-child            { display: none; }
    .tabcontent > section                           { display: none; margin-right: 0; }
    .tabcontent > section.actived                   { display: inherit; *display: block; }

    /* Tab Width Auto */
    .tab-ver.width-auto .cs-tab                    { width: 25%; }
    .tab-ver.width-auto .tabcontent                 { width: 75%; }
    .tab-ver.width-auto .tabcontent > section       { padding-left: 20px; }

    /* Tab Style Background */
    .tab-ver.bg .tabcontent                         { margin-left: 0; }
    .tab-ver.bg .tabcontent section {
        padding: 20px;
        /*border: 1px solid #e5e5e5;*/
        border-left: 2px solid #0cf;
        background-color: #fff;
    }
    .tab-ver.bg .cs-tab                            { margin-top: 1px; }
    .tab-ver.bg .cs-tab .cs-pagitem                         { margin-top: -1px; }
    .ie7 .tab-ver.bg .cs-tab,
    .ie7 .tab-ver.bg .cs-tab .cs-pagitem                    { margin-top: 0; }

    .tab-ver.bg .cs-tab .cs-pagitem > a                     { padding-left: 15px; padding-right: 15px; }
    .tab-ver.bg .cs-tab .cs-pagitem.sl-cur > a             { background-color: #0cf; color: #fff; }
    .tab-ver.bg .cs-tab .cs-pagitem.sl-cur > a > *         { color: #fff; }


    /*  Tab Vertical Mini */
    .tab-ver.tab-mini .cs-tab {
        position: absolute;
        width: auto;
        left: 0;
        border-right: 1px solid #e5e5e5;
    }
    .tab-ver.tab-mini .cs-tab .cs-pagitem                   { margin-bottom: 1px; }
    .tab-ver.tab-mini .cs-tab .cs-pagitem:hover,
    .tab-ver.tab-mini .cs-tab .cs-pagitem.sl-cur           { margin-right: -1px; }

    .tab-ver.tab-mini .cs-tab .cs-pagitem > a               { width: 20px; height: 60px; padding: 0; border-bottom: none; }
    .tab-ver.tab-mini .cs-tab .cs-pagitem:hover > a,
    .tab-ver.tab-mini .cs-tab .cs-pagitem.sl-cur > a       { padding-bottom: 0; padding-left: 1px; }
    .tab-ver.tab-mini .cs-tab .cs-pagitem:first-child > a   { border-top: none; }

    .tab-ver.tab-mini .tabcontent                   { width: auto; }
    .tab-ver.tab-mini .tabcontent > section         { margin-left: 22px; padding-left: 18px; }

    .tab-ver.tab-mini.bg .cs-tab                   { border-right: 2px solid #0cf; }
    .tab-ver.tab-mini.bg .tabcontent section        { border-left: none; }
    .tab-ver.tab-mini.bg .cs-tab,
    .tab-ver.tab-mini.bg .cs-tab .cs-pagitem                { margin-top: 0; }

    /* Fix IE7 */
    .ie7 .tab-ver.width-auto { width: 100%; }
    .ie7 .tab-ver.tab-mini .cs-tab { left: -16px; }


    /*  Tab Mini
     *  Position Bottom: Over style Tab-Hor & Tab-Ver
    ---------------------------------------------------------- */
    .tab-mini .cs-tab .cs-pagitem > a                       { overflow: hidden; background-color: #e5e5e5; text-indent: -9999px; }
    .tab-mini .cs-tab .cs-pagitem.sl-cur > a               { border-bottom: none; }
    .tab-mini section > :first-child                { display: block; margin-bottom: 10px; }
    .tab-mini section > :first-child > *            { margin-bottom: 0; }
    .tab-mini section > :first-child > span {
        color: #ccc;
        font-size: .85em;
        font-style: italic;
    }
    
    /* Tablist Color */
    body .tab-mini .cs-tab .cs-pagitem:hover > a,
    body .tab-mini .cs-tab .cs-pagitem.sl-cur > a          { background-color: #0cf; }
    
    
    /* Tab Theme-dark
    ---------------------------------------------------------- */
    
    /* Tab Horizontal */
    .dark .tab-hor .cs-tab { border-bottom-color: #0cf; }
    .dark .tab-hor .cs-tab .cs-pagitem > a { color: #999; }
    .dark .tab-hor .cs-tab .cs-pagitem:hover > a,
    .dark .tab-hor .cs-tab .cs-pagitem.sl-cur > a { color: #0cf; }

    .dark .tab-hor.tab-mini .cs-tab .cs-pagitem > a { background-color: #222; }
    .dark .tab-hor.tab-mini .cs-tab .cs-pagitem:hover > a,
    .dark .tab-hor.tab-mini .cs-tab .cs-pagitem.sl-cur > a { background-color: #0cf; }

    .dark .tab-hor.bg .cs-tab .cs-pagitem.sl-cur > a { color: #fff; }
    .dark .tab-hor.bg section { border-width: 0; background-color: #333; }
    

    /* Tab Vertical */
    .dark .tab-ver .cs-tab .cs-pagitem > a { border-bottom-color: #222; }
    .dark .tab-ver .cs-tab .cs-pagitem.sl-cur > a { border-bottom-color: #0cf; }

    .dark .tab-ver.tab-mini .cs-tab { border-right-color: #0cf; }
    .dark .tab-ver.tab-mini .cs-tab .cs-pagitem > a { background-color: #222; }
    .dark .tab-ver.tab-mini .cs-tab .cs-pagitem:hover > a,
    .dark .tab-ver.tab-mini .cs-tab .cs-pagitem.sl-cur > a { background-color: #0cf; }

    .dark .tab-ver.bg .tabcontent > section { /*border-width: 0 0 0 2px;*/ background-color: #333; }


    /* Tab Bg-light
    ---------------------------------------------------------- */

    /* Tablist */
    .bg-light .cs-tab .cs-pagitem > a                       { color: #999; }

    /* Tab Horizontal */
    .bg-light .tab-hor .cs-tab                     { border-bottom-color: #999; }
    .bg-light .tab-hor .cs-tab .cs-pagitem:hover > a,
    .bg-light .tab-hor .cs-tab .cs-pagitem.sl-cur > a      { border-bottom-color: #666; color: #181818; }

    .bg-light .tab-hor.tab-mini .cs-tab .cs-pagitem > a     { background-color: hsla(0,0%,0%,.1); }
    .bg-light .tab-hor.tab-mini .cs-tab .cs-pagitem:hover > a,
    .bg-light .tab-hor.tab-mini .cs-tab .cs-pagitem.sl-cur > a
    { background-color: #666; }
    
    .bg-light .tab-hor.bg .cs-tab                  { border-bottom-color: #666; }
    .bg-light .tab-hor.bg .cs-tab .cs-pagitem.sl-cur > a   { background-color: #666; color: #fff; }
    .bg-light .tab-hor.bg section                   { border-width: 0; }

    /* Tab Vertical */
    .bg-light .tab-ver .cs-tab .cs-pagitem > a              { border-bottom-color: #999; }
    .bg-light .tab-ver .cs-tab .cs-pagitem:hover > a,
    .bg-light .tab-ver .cs-tab .cs-pagitem.sl-cur > a      { border-bottom-color: #666; color: #181818; }

    .bg-light .tab-ver.tab-mini .cs-tab            { border-right-color: #999; }
    .bg-light .tab-ver.tab-mini .cs-tab .cs-pagitem > a     { background-color: hsla(0,0%,0%,.1); }
    .bg-light .tab-ver.tab-mini .cs-tab .cs-pagitem:hover > a,
    .bg-light .tab-ver.tab-mini .cs-tab .cs-pagitem.sl-cur > a
    { background-color: #666; }

    .bg-light .tab-ver.bg .cs-tab .cs-pagitem.sl-cur > a   { background-color: #666; color: #fff; }
    .bg-light .tab-ver.bg .tabcontent > section     { border-left-color: #666; }

    .bg-light .tab-ver.tab-mini.bg .cs-tab         { border-right-color: #666; }


    /* Tab Bg-dark
    ---------------------------------------------------------- */
    /* Tablist */
    .bg-dark .cs-tab .cs-pagitem > a                        { color: hsla(0,0%,100%,.5); }
    .no-hsla .bg-dark .cs-tab .cs-pagitem > a               { color: #fff; }

    /* Tab horizontal */
    .bg-dark .tab-hor .cs-tab                      { border-bottom-color: #fff; }
    .bg-dark .tab-hor .cs-tab .cs-pagitem:hover > a,
    .bg-dark .tab-hor .cs-tab .cs-pagitem.sl-cur > a       { border-bottom-color: #fff; color: #fff; }
    
    .bg-dark .tab-hor.tab-mini li > a               { background-color: hsla(0,0%,100%,.3); }
    .bg-dark .tab-hor.tab-mini li:hover > a,
    .bg-dark .tab-hor.tab-mini li.actived > a       { background-color: #fff; }

    .bg-dark .tab-hor.bg .cs-tab .cs-pagitem.sl-cur > a    { background-color: #fff; color: #666; }
    .bg-dark .tab-hor.bg section { 
        border-width: 0;
        background-color: #444;
        background-color: hsla(0,0%,0%,.1);
    }

    /* Tab Vertical */
    .bg-dark .tab-ver .cs-tab .cs-pagitem > a               { border-bottom-color: #fff; }
    .bg-dark .tab-ver .cs-tab .cs-pagitem > a               { border-bottom-color: hsla(0,0%,100%,.3); }
    .bg-dark .tab-ver .cs-tab .cs-pagitem:hover > a,
    .bg-dark .tab-ver .cs-tab .cs-pagitem.sl-cur > a       { border-bottom-color: #fff; color: #fff; }

    .bg-dark .tab-ver.tab-mini .cs-tab             { border-right-color: #fff; }
    .bg-dark .tab-ver.tab-mini .cs-tab .cs-pagitem > a      { background-color: #666; }
    .bg-dark .tab-ver.tab-mini .cs-tab .cs-pagitem > a      { background-color: hsla(0,0%,100%,.3); }
    .bg-dark .tab-ver.tab-mini .cs-tab .cs-pagitem:hover > a,
    .bg-dark .tab-ver.tab-mini .cs-tab .cs-pagitem.sl-cur > a
    { background-color: #fff; }
    
    .bg-dark .tab-ver.bg .cs-tab .cs-pagitem.sl-cur > a    { background-color: #fff; color: #666; }
    .bg-dark .tab-ver.bg .tabcontent > section { 
        border-left-color: #fff;
        background-color: #444;
    }
    .bg-dark .tab-ver.bg .tabcontent > section      { background-color: hsla(0,0%,0%,.1); }