/*
 * STYLE CODESLIDER
 *
 */




/*  Slider custom: gallery
============================================================== */
    
    /* Slide setup */
    .cs-slide {
        width: auto;
        -webkit-transition: -webkit-transform .4s;
           -moz-transition:    -moz-transform .4s;
                transition:         transform .4s;
    }



    
    /* Slide special */
    .sl0 {
        -webkit-transform: rotate(3deg);
           -moz-transform: rotate(3deg);
                transform: rotate(3deg);
    }
    .sl1 {
        -webkit-transform: rotate(6deg);
           -moz-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    .sl2 {
        -webkit-transform: rotate(-4deg);
           -moz-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }
    .sl3 {
        -webkit-transform: rotate(-8deg);
           -moz-transform: rotate(-8deg);
                transform: rotate(-8deg);
    }

    
    .sl-out {
        opacity: .3;
    }

    .fx0.sl-out {
        -webkit-transform: translate3d(-100%, 80%, 0) scale(.5) rotate(170deg);
           -moz-transform: translate3d(-100%, 80%, 0) scale(.5) rotate(170deg);
                transform: translate3d(-100%, 80%, 0) scale(.5) rotate(170deg);
    }
    .fx1.sl-out {
        -webkit-transform: translate3d(-100%, 20%, 0) scale(.4) rotate(45deg);
           -moz-transform: translate3d(-100%, 20%, 0) scale(.4) rotate(45deg);
                transform: translate3d(-100%, 20%, 0) scale(.4) rotate(45deg);
    }
    .fx2.sl-out {
        -webkit-transform: translate3d(-150%, 10%, 0) scale(.3) rotate(75deg);
           -moz-transform: translate3d(-150%, 10%, 0) scale(.3) rotate(75deg);
                transform: translate3d(-150%, 10%, 0) scale(.3) rotate(75deg);
    }
    .fx3.sl-out {
        -webkit-transform: translate3d(50%, -80%, 0) scale(.3) rotate(120deg);
           -moz-transform: translate3d(50%, -80%, 0) scale(.3) rotate(120deg);
                transform: translate3d(50%, -80%, 0) scale(.3) rotate(120deg);
    }

    
    /* Slide current */
    .cs-cur {
        box-shadow: 5px 5px 0 hsla(0,0%,0%,.25);
        z-index: 2;

        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
                transform: rotate(0);
    }


    /* Others */
    .cs-prev, .cs-next {
        display: inline-block;
        padding: 10px 20px;
    }
    .cs-cap {
        -webkit-transform: translateZ(100px);
           -moz-transform: translateZ(100px);
                transform: translateZ(100px);
        z-index: 2;
    }