<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title of page -->
    <title>EXAMPLE MARKUP OUTSIDE | RUBY SLIDER</title>

    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>EXAMPLE MARKUP OUTSIDE</h1>
        </div></div>
        <!-- Title heading - end -->




        <div class="row">


            <!-- SECTION SLIDER CORE - begin -->
            <div class="col6">

                <!-- SLIDER PREVIEW - begin -->
                <div class="slider-preview rs01"
                    data-slider='{
                        "name"        : "sliderPreview",
                        "type" : "slider",
                        "fx"          : "line",
                        "speed"       : 600,
                        "width"       : 940,
                        "isNav"       : true,
                        "isSlideshow" : true
                    }'>

                    <a class="rs01imgback" href="imgs/vietnam1.jpg">vietnam 1</a>
                    <a class="rs01imgback" href="imgs/vietnam2.jpg">vietnam 2</a>
                    <a class="rs01imgback" href="imgs/vietnam3.jpg">vietnam 3</a>
                    <a class="rs01imgback" href="imgs/vietnam4.jpg">vietnam 4</a>
                    <a class="rs01imgback" href="imgs/vietnam5.jpg">vietnam 5</a>
                    <a class="rs01imgback" href="imgs/vietnam6.jpg">vietnam 6</a>

                </div>
                <!-- SLIDER PREVIEW - end -->

            </div>
            <!-- SECTION SLIDER CORE - end -->




            <!-- SECTION SLIDER ELEMENTS - begin -->
            <div class="col6">

                <!-- SLIDER PAGINATION -->
                <div class="rs01pag" data-rubyslider-markup="sliderPreview"></div>


                <!-- SLIDER NAVIGATION -->
                <style>
                    .rs01nav-prev, .rs01nav-next {
                        display: inline-block;
                        position: static;
                        margin-top: 10px;
                        background-color: #444;
                    }
                </style>
                <div class="rs01nav" data-rubyslider-markup="sliderPreview"></div>


                <!-- SLIDER TIMER -->
                <style>
                    .rs01playpause {
                        left: 7px; top: 7px;
                    }
                </style>
                <div class="rs01control">
                    <div class="rs01playpause" data-rubyslider-markup="sliderPreview"></div>
                    <div class="rs01timer" data-rubyslider-markup="sliderPreview"></div>
                </div>

            </div>
            <!-- SECTION SLIDER ELEMENTS - end -->



        </div>

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->








    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script type="text/javascript" src="../libs/scripts/custom.js"></script> <!-- Page custom script -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
