<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Title of page -->
    <title>RUBY SLIDER</title>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="HaiBach">


    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


    <!-- CSS embed -->
    <style>

        /* STYLE CUSTOM FOR HOME */
        .bg-wrap {
            padding-top: 24px; padding-bottom: 24px;
            background-color: #fff;
            border-radius: 4px;
        }
    </style>


</head>
<body>

    <!-- HEADER - begin
    ======================================================================== -->
    <div class="wrapper header logo-left"><div class="container">

        <!-- Logo -->
        <a class="logo" href="../templates/" data-mScale="100">RubySlider</a>

        <!-- Menu -->
        <nav data-rubymenu></nav>

    </div></div>
    <!-- HEADER - end
    ======================================================================== -->








    <!-- PLUGINS PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper pa-b-100" style="overflow: hidden;">

        <!-- TITLE HEADING - begin -->
        <style>
            .title-head h1 {
                letter-spacing: 4px;
            }
        </style>
        <div class="title-head">
        <div class="title-head-inner">
            <h1>PLUGIN PREVIEW</h1>
            <h5>best slider &amp; tabs premium jQuery plugin</h5>
        </div>
        </div>
        <!-- TITLE HEADING - end -->



        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slider-preview > .rs01viewport {
                overflow: visible;
            }
            .slider-preview .rs01slide {
                border-radius: 4px;
            }
            .slider-preview .rs01ss-control {
                right: 5px; top: 5px;
            }

            .slider-preview .rs01iframe {
                display: block;
                margin-bottom: 0;
            }
        </style>

        <div class="container">
        <div class="slider-preview rs01 rs01timer-arcTop"
            data-slider='{
                "fx"          : "coverflow3D",
                "coverflow3D" : { "widthSlide" : [0.8, [940, 960, 10000]], "opacity" : 0.3 },
                "speed"       : 800,
                "width"       : 940,
                "imageback"   : { "position" : "fit" },
                "isKeyboard"  : true,

                "isSlideshow" : true,
                "slideshow"   : { "delay" : 5000, "isAutoRun" : false },
                "timerArc"    : { "stroke" : "#cc0055" },
                "video"       : { "isPauseThenRemove" : true }
            }'>

            <a class="rs01imgback" href="imgs/vietnam-large1.jpg">vietnam 1</a>
            <a class="rs01imgback" href="imgs/vietnam-large2.jpg">vietnam 2</a>
            <a class="rs01imgback" href="imgs/vietnam-large3.jpg">vietnam 3</a>
            <a class="rs01imgback" href="imgs/vietnam-large4.jpg">vietnam 4</a>

            <!-- Video iframe -->
            <a class="rs01imgback" href="imgs/video-preview.jpg" data-video-link="https://www.youtube.com/watch?v=2O0nz6o_oAE">Pictures of South East Asia</a>

        </div>
        </div>
        <!-- SLIDER PREVIEW - end -->

    </div>
    <!-- PLUGINS PREVIEW - end
    ======================================================================== -->







    <!-- EFFECT OTHERS - begin
    ======================================================================== -->
    <style>
        .effect-others {
            background-color: #f9f9f9;
            border: 1px solid #e5e5e5;
            border-width: 1px 0;
            text-align: center;
        }

        .effect-title {
            display: inline-block;
            margin: 20px auto 50px auto;
            padding: 10px 25px;
            border: 1px solid #999;
            border-radius: 20px;
        }
        .effect-title:hover {
            border-color: #c05;
        }


        /* SLIDER */
        .effect-others .rs01 {
            text-align: left;
        }
        .effect-others .rs01pag.rs01bullet {
            position: absolute;
            bottom: 0;
        }
    </style>

    <div class="wrapper effect-others"><div class="container">

        <!-- Heading - begin -->
        <div class="title-big-wrap">
            <h1>LAYOUT <strong>&amp;</strong> EFFECT OTHERS</h1>
        </div>
        <!-- Heading - end -->




        <div class="row">

            <!-- MATH EFFECT - begin -->
            <div class="col6">
            <div class="rs01 ruby-mark"
                data-slider='{
                    "fx"    : "rectRun",
                    "speed" : 800,
                    "width" : 940,
                    "pag"   : { "type": "bullet", "isMark": true }
                }'>

                <a class="rs01imgback" href="imgs/season-landscape2.jpg">season 2</a>
                <a class="rs01imgback" href="imgs/season-landscape4.jpg">season 4</a>
                <a class="rs01imgback" href="imgs/season-landscape7.jpg">season 7</a>
            </div>

            <a class="effect-title" href="slider-effect-math.html" target="_blank">8 Math Effects</a>
            </div>
            <!-- MATH EFFECT - end -->



            <!-- CSS ONE EFFECT - begin -->
            <div class="col6">
            <div class="rs01 ruby-mark"
                data-slider='{
                    "fx"    : "cssOne",
                    "speed" : 800,
                    "width" : 940,
                    "pag"   : { "type": "bullet", "isMark": true }
                }'>

                <a class="rs01imgback" href="imgs/season-landscape2.jpg">season 2</a>
                <a class="rs01imgback" href="imgs/season-landscape4.jpg">season 4</a>
                <a class="rs01imgback" href="imgs/season-landscape7.jpg">season 7</a>
            </div>

            <a class="effect-title" href="slider-effect-cssOne.html" target="_blank">50+ CSS One Effects</a>
            </div>
            <!-- CSS ONE EFFECT - end -->



            <!-- CENTER LAYOUT - LINE EFFECT - begin -->
            <div class="col6">
            <div class="rs01 ruby-mark"
                data-slider='{
                    "fx"         : "line",
                    "speed"      : 400,
                    "width"      : 755,
                    "widthSlide" : 0.8,
                    "margin"     : 1,
                    "pag"        : { "type": "bullet", "isMark": true }
                }'>

                <a class="rs01imgback" href="imgs/season-landscape2.jpg">season 2</a>
                <a class="rs01imgback" href="imgs/season-landscape4.jpg">season 4</a>
                <a class="rs01imgback" href="imgs/season-landscape7.jpg">season 7</a>
            </div>

            <a class="effect-title" href="slider-layout-center.html" target="_blank">Center Layout - Line Effect</a>
            </div>
            <!-- CENTER LAYOUT - LINE EFFECT - end -->



            <!-- TABS LAYOUT - begin -->
            <div class="col6">
            <div class="rs01 rs01flat"
                data-slider='{
                    "optionsPlus" : "tabs",
                    "fx"          : "cssOne",
                    "cssOne"      : "scalePulse",
                    "speed"       : 800,
                    "pag"         : { "align": "center" }
                }'>


                <div>
                    <div class="rs01pagitem">OVERVIEW</div>

                    <div class="font-blokk">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!</p>
                        <p>Nam facilis tempore maxime incidunt deserunt, ipsum pariatur, accusamus animi quidem velit tenetur eum nesciunt quos veniam architecto neque impedit! Sed accusamus commodi dignissimos dolorem distinctio, itaque dicta non maiores?</p>
                    </div>
                </div>


                <div>
                    <div class="rs01pagitem">LAYOUT</div>


                    <!-- Dummy Content - begin -->
                    <div class="row font-blokk">
                        <div class="col4">
                            <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i></p>
                        </div>

                        <div class="col8">
                            <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                            <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                        </div>
                    </div>
                    <!-- Dummy Content - end -->
                </div>


                <div>
                    <div class="rs01pagitem">SWIPE PREVENT</div>

                    <form class="block">

                        <input type="text" class="large" placeholder="Username">
                        <input type="text" class="large" placeholder="Password">
                        <input type="text" class="large" placeholder="Repeat Password">
                        <input type="text" class="large" placeholder="Email">
                        <textarea name="" cols="30" rows="5" placeholder="Your bio"></textarea>

                        <label class="checkbox text-small muted pull-left" for="terms">
                            <input id="terms" type="checkbox">I have read and I agree the Terms of Use
                        </label>

                        <input class="btn large pull-right no-ma" type="submit" value="Register">
                    </form>
                </div>


                <div>
                    <div class="rs01pagitem">IMAGE LAZYLOAD</div>

                    <div class="row">
                        <div class="col4 col-xs-4">
                            <a class="rs01img card-img" href="imgs/food-thumbnail1.jpg">Food 1</a>
                        </div>

                        <div class="col4 col-xs-4">
                            <a class="rs01img card-img" href="imgs/food-thumbnail2.jpg">Food 2</a>
                        </div>

                        <div class="col4 col-xs-4">
                            <a class="rs01img card-img" href="imgs/food-thumbnail3.jpg">Food 3</a>
                        </div>

                        <div class="col4 col-xs-4">
                            <a class="rs01img card-img" href="imgs/food-thumbnail4.jpg">Food 4</a>
                        </div>

                        <div class="col4 col-xs-4">
                            <a class="rs01img card-img" href="imgs/food-thumbnail6.jpg">Food 6</a>
                        </div>

                        <div class="col4 col-xs-4">
                            <a class="rs01img card-img" href="imgs/food-thumbnail7.jpg">Food 7</a>
                        </div>
                    </div>
                </div>


                <div>
                    <div class="rs01pagitem">IFRAME</div>

                    <div>
                        <a class="rs01iframe" href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCCdHNpkWq_yU8PbLAF_r6CnnGCfNWcfro&amp;q=Tour+Eiffel,Champ-de-Mars,5+Avenue+Anatole+France,75007+Paris&amp;zoom=17" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></a>
                    </div>
                </div>
            </div>

            <a class="effect-title" href="page-templates-tabs.html" target="_blank">Tabs Layout</a>
            </div>
            <!-- TABS LAYOUT - end -->

        </div>
    </div></div>
    <!-- EFFECT OTHERS - end
    ======================================================================== -->







    <!-- CREATE CUSTOM CSS EFFECTS - begin
    ======================================================================== -->
    <style>
        .create-custom-css-effect {
            padding-top: 50px; padding-bottom: 50px;
            background-color: #cc0055;
        }
        .create-custom-css-effect .title {
            color: #fff;
        }
        a.btn-try-it-now {
            background-color: rgba(0,0,0,0.2);
            border-color: #333;
            color: #fff;
            -webkit-transition: background-color .2s;
                    transition: background-color .2s;
        }
        a.btn-try-it-now:hover {
            background-color: rgba(0,0,0,0.8);
            border-color: #333;
            color: #fff;
        }

        .create-custom-css-effect .preview img {
            display: block;
            width: 100%; height: auto;
            max-width: 300px;
        }
        @media only screen and (min-width: 1px) and (max-width: 767px) {
            .create-custom-css-effect .preview {
                text-align: center;
            }
            .create-custom-css-effect .preview a {
                display: inline-block;
            }
        }
    </style>

    <div class="create-custom-css-effect"><div class="container"><div class="row">
        <div class="col6 col-xs-6">
            <h1 class="title">CREATE CUSTOM <br><strong>CSS-EFFECT</strong></h1>
            <a class="btn btn-try-it-now" href="page-create-css-effect.html" target="_blank">Try It Now</a>
        </div>
        <div class="col6 col-xs-6 preview">
            <a href="page-create-css-effect.html" target="_blank">
                <img src="imgs/page-create-css-effect/create-css-effect-01.svg" alt="Create custom CSS effect">
            </a>
        </div>
    </div></div></div>
    <!-- CREATE CUSTOM CSS EFFECTS - end
    ======================================================================== -->







    <!-- STARTER TEMPLATES - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">
    <div class="row">

        <!-- Heading - begin -->
        <div class="title-big-wrap">
            <h1>70+ STARTER TEMPLATES</h1>
            <p class="muted text-center">including features templates</p>
        </div>
        <!-- Heading - end -->



        <!-- Slider templates - begin
        .......................................................... -->
        <div class="items show-full thumbnail-slider clearfix">

            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-effect-coverflow3D.html">
                            <img src="imgs/template-fx-coverflow3D.png" alt="Coverflow3D Effect">
                        </a>
                    </figure>

                    <a class="meta" href="slider-effect-coverflow3D.html">
                        <p class="title">Coverflow3D Effect</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-classic1.html">
                            <img src="imgs/template-layout-classic1.png" alt="Classic-1 Layout">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-classic1.html">
                        <p class="title">Classic-1 Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-coverscreen.html">
                            <img src="imgs/template-layout-fullscreen.png" alt="CoverScreen Layout">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-coverscreen.html">
                        <p class="title">CoverScreen Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-outbox.html">
                            <img src="imgs/template-layout-outbox.png" alt="Outbox Layout">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-outbox.html">
                        <p class="title">Outbox Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-nested.html">
                            <img src="imgs/template-layout-nested.png" alt="Nested Layout">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-nested.html">
                        <p class="title">Nested Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-caption.html">
                            <img src="imgs/template-layout-caption.png" alt="Caption Layout">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-caption.html">
                        <p class="title">Caption Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-heightAuto.html">
                            <img src="imgs/template-layout-heightAuto.png" alt="Height-Auto Layout">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-heightAuto.html">
                        <p class="title">Height-Auto Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-layout-inbox.html">
                            <img src="imgs/template-layout-inbox.png" alt="Slider in Box">
                        </a>
                    </figure>

                    <a class="meta" href="slider-layout-inbox.html">
                        <p class="title">Slider in Box</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-api-addremove.html">
                            <img src="imgs/template-api-addremove.png" alt="Add-Remove Slider">
                        </a>
                    </figure>

                    <a class="meta" href="slider-api-addremove.html">
                        <p class="title">Add-Remove Slider</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-slideshow-timerArc.html">
                            <img src="imgs/template-timer-arc.png" alt="Arc Timer - Slideshow">
                        </a>
                    </figure>

                    <a class="meta" href="slider-slideshow-timerArc.html">
                        <p class="title">Arc Timer - Slideshow</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="slider-api-deeplinkingMulti.html">
                            <img src="imgs/template-api-deeplinkingMulti.png" alt="Deep Linking Multi">
                        </a>
                    </figure>

                    <a class="meta" href="slider-api-deeplinkingMulti.html">
                        <p class="title">Deep Linking Multi</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="page-templates-slider.html">
                            <img src="imgs/icon-more.png" alt="More Templates">
                        </a>
                    </figure>

                    <a class="meta" href="page-templates-slider.html">
                        <p class="title">More Slider Templates</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->

        </div>
        <!-- Slider templates - end
        .......................................................... -->



        <!-- Tabs Templates - begin
        .......................................................... -->
        <div class="items show-full thumbnail-tabs clearfix">

            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>

                    <figure class="thumbnail">
                        <a class="linkto" href="tabs-layout-device.html">
                            <img src="imgs/template-layout-device.png" alt="Device Layout">
                        </a>
                    </figure>

                    <a class="meta" href="tabs-layout-device.html">
                        <p class="title">Device Layout</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="tabs-layout-vertical.html">
                            <img src="imgs/template-layout-vertical.png" alt="Tabs Vertical">
                        </a>
                    </figure>

                    <a class="meta" href="tabs-layout-vertical.html">
                        <p class="title">Tabs Vertical</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="tabs-style-highlight.html">
                            <img src="imgs/template-style-highlight.png" alt="Highlight Slide">
                        </a>
                    </figure>

                    <a class="meta" href="tabs-style-highlight.html">
                        <p class="title">Highlight Slide</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


            <!-- Item - begin -->
            <div class="col3 col-xs-4 col-xxs-6">
                <article>
                    <figure class="thumbnail">
                        <a class="linkto" href="page-templates-tabs.html">
                            <img src="imgs/icon-more.png" alt="More Templates">
                        </a>
                    </figure>

                    <a class="meta" href="page-templates-tabs.html">
                        <p class="title">More Tabs Templates</p>
                    </a>
                </article>
            </div>
            <!-- Item - end -->


        </div>
        <!-- Tabs Templates - end
        .......................................................... -->

    </div>
    </div>
    </div>
    <!-- STARTER TEMPLATES - end
    ======================================================================== -->






    <div class="container">
        <div class="hr circle ma-100"></div>
    </div>






    <!-- CORE FEATURES - begin
    ======================================================================== -->
    <style>
        .ie8 .main-features {
            display: none;
        }
        .feature-item {
            float: left;
            width: 100%;
            margin-bottom: 70px;
        }
        .feature-item .col5 {
            font-size: 16px;
            line-height: 1.6em;
        }
        .feature-item .col7 {
            text-align: center;
        }
        .feature-title {
            font-weight: 400;
        }
        .feature-item img {
            display: inline-block;
            max-width: 448px;
            width: 100%; height: auto;
        }
    </style>
    <div class="wrapper main-features">
    <div class="container">
    <div class="row">

        <!-- Heading - begin -->
        <div class="title-big-wrap">
            <h1>MAIN FEATURES</h1>
            <p class="muted text-center"></p>
        </div>
        <!-- Heading - end -->


        <!-- Features list - begin -->
        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title">Designed As <b>Modules</b></h2>
                <p>Get <span class="text-success">smallest size</span> of plugins for each case.</p>
            </div>

            <div class="col7">
                <img src="imgs/description-02.svg" alt="Module feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title"><b>Touch/Swipe</b> Gestures</h2>
                <p>Switch between slides easy and flexibility with support swipe gestures, especially with tabs have many slides or on the mobile devices.
                    <br>Tested on <span class="text-success">iOS</span>, <span class="text-success">Android</span>, <span class="text-success">Window Phone</span> device.</p>
            </div>

            <div class="col7">
                <img src="imgs/description-03.svg" alt="Swipe gestures feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title"><b>Huge</b> Effects</h2>
                <ul class="list round condensed">
                    <li>Line effect</li>
                    <li>Fade effect</li>
                    <li>None effect</li>
                    <li>Coverflow3D effect</li>
                    <li>8+ Math effects (only for slider)</li>
                    <li>50+ CSS One effects</li>
                    <li>250+ separate CSS effects</li>
                </ul>
            </div>

            <div class="col7">
                <img src="imgs/description-04.svg" alt="Effects feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title">Hareware Accelerated</h2>
                <p>RubySlider completely used new techniques used in the transition effects to create smooth transition, fastest, and saves the system memory</p>
            </div>

            <div class="col7">
                <img src="imgs/description-05.svg" alt="Harewave accelerate feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title">Fully <b>Responsive</b></h2>
                <p>Fully supported responsive in all browsers and devices : desktop - tablet - mobile</p>
            </div>

            <div class="col7">
                <img src="imgs/description-06.svg" alt="Fully responsive feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title"><b>Lazyload</b></h2>
                <p>Slider initialized <span class="text-success">faster</span> and <span class="text-success">smarter</span>
                    <br>Supported Image, Video, Iframe lazyload.</p>
            </div>

            <div class="col7">
                <img src="imgs/description-07.svg" alt="Lazyload feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title">Image <b>Position</b></h2>
                <p>Supported 5 position of image background: center - fit - fill - stretch - tile</p>
            </div>

            <div class="col7">
                <img src="imgs/description-08.svg" alt="Image position feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title">Slideshow with <b>Timer</b></h2>
                <p>Fully supported all functions of slideshow.</p>
                <ul class="list round condensed">
                    <li>2+ timer</li>
                    <li>PlayPause button</li>
                    <li>Delay - Loop - Hover pause - Auto run - ...</li>
                </ul>
            </div>

            <div class="col7">
                <img src="imgs/description-09.svg" alt="Slideshow feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title">Powerful <b>API</b></h2>
                <p>RubySlider is equipped with the powerful api.</p>
                <ul class="list round condensed">
                    <li>Instant update options (upto 70% options)</li>
                    <li>Supported multiple, range value of option</li>
                    <li>Add - remove slides</li>
                    <li>Remote api from outside markup</li>
                </ul>
            </div>

            <div class="col7">
                <img src="imgs/description-10.svg" alt="Powerfull api feature">
            </div>
        </div>


        <div class="feature-item">
            <div class="col5">
                <h2 class="feature-title"><b>70+</b> Starter Templates</h2>
                <p>Included over 70+ slider & tabs basic templates</p>
            </div>

            <div class="col7">
                <img src="imgs/description-11.svg" alt="Starter templates feature">
            </div>
        </div>
        <!-- Features list - end -->

    </div>
    </div>
    </div>
    <!-- CORE FEATURES - end
    ======================================================================== -->






    <div class="container">
        <div class="hr circle ma-100"></div>
    </div>







    <!-- LIST ALL FEATURES - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">
    <div class="row">

        <!-- Heading - begin -->
        <div class="title-big-wrap">
            <h1>LIST OF ALL FEATURES</h1>
            <p class="muted text-center"></p>
        </div>
        <!-- Heading - end -->



        <!-- Script size - begin -->
        <style>
            .sizeinfo {
                float: left;
                margin-bottom: 30px;
            }
            .sizeinfo-main {
                float: left;
                margin-bottom: 20px;
            }
            .sizeinfo-sub {
                float: left;
                padding: 10px 20px;
                border: 1px dashed #ccc;
                border-radius: 4px;
            }
            .sizeinfo-text {
                float: left;
            }
            .sizeinfo-num {
                float: left;
                padding-left: 20px; padding-right: 20px;
            }
            .huge-text {
                font-size: 110px;
                line-height: .7em;
            }
        </style>

        <div class="sizeinfo">
            <div class="col8">
            <div class="sizeinfo-main">

                <div class="sizeinfo-text">
                    <h1 class="no-ma">core script</h1>
                    <h4>minify &amp; gziped</h4>
                </div>
                <div class="sizeinfo-num">
                    <h1 class="huge-text">25kb</h1>
                </div>

            </div>
            </div>

            <div class="col4">
            <div class="sizeinfo-sub">
                <h4 class="no-ma">Full size of script 45kb</h4>
            </div>
            </div>
        </div>
        <!-- Script size - end -->




        <!-- List features - begin -->
        <div class="col4">
            <h4>General</h4>
            <ul class="list round ma-b-50">
                <li>jQuery 1.9+, 2.x, 3.x supported</li>
                <li>HTML5 valid and SEO friendly markup</li>
                <li>CSS3 transitions with jQuery fallback</li>
                <li>Hardware accelerated CSS3 transforms</li>
                <li>Cross browser IE8+ and modern browsers</li>
                <li>Setup options in HTML5 data attribute</li>
                <li>Supported outside markup</li>

                <li>Fallback options for old browser</li>
                <li>Mobile-options for mobile device</li>
                <li>Elements supported high resolution</li>
                <li>Memory leak free</li>
                <li><span class="text-success">Supported integrated into Wordpress</span></li>

                <li>70+ starter templates</li>
            </ul>
        </div>

        <div class="col4">
            <h4>Slider</h4>
            <ul class="list round ma-b-50">
                <li>Designed as Modules</li>
                <li>Touch swipe gesture</li>
                <li>Mouse swipe gesture in Desktop</li>
                <li>Instant initializing</li>

                <li>Line - Fade effect</li>
                <li>8+ Math effects</li>
                <li>50+ CSS One, 250+ CSS Two - Four effects</li>
                <li>Coverflow 3D effect</li>

                <li>Fully Responsive</li>
                <li>Center layout</li>
                <li>Carousel, outbox slider layout</li>
                <li>Nested slider</li>
                <li>Multiple slider</li>
                <li>Fullwidth, coverscreen slider layout</li>
                <li>Height auto, height fixed layout</li>
                <li>Caption of slide</li>
                <li>Center - fill - fit - stretch - tile image position</li>

                <li>Smart loading</li>
                <li>Image lazyload</li>
                <li>Youtube, Vimeo lazyload</li>
                <li>Iframe lazyload</li>

                <li>Keyboard, mousewheel event navigation</li>
            </ul>
        </div>

        <div class="col4">
            <h4>Tabs layout</h4>
            <ul class="list round ma-b-50">
                <li>None effect</li>
                <li>5+ style for Tabs</li>
                <li>14 position for pagination</li>
                <li>Tabs - thumbnail - bullet - list pagination</li>
                <li>Supported arrow, mark of pagination</li>
                <li>Fully customizable for pagination</li>
                <li>Fully supported Vertical Tabs</li>
                <li>Area prevent touch swipe gestures</li>
            </ul>
        </div>

        <div class="col4">
            <h4>Slideshow</h4>
            <ul class="list round ma-b-50">
                <li>Fully functions of slideshow</li>
                <li>Auto play - pause slideshow</li>
                <li>Hover to pause slideshow</li>
                <li>Arc - line timer control</li>
            </ul>
        </div>

        <div class="col4">
            <h4>Powerfull API & Modules</h4>
            <ul class="list round ma-b-50">
                <li>Deep linking module</li>
                <li>Cookie module</li>
                <li>Instant update options</li>
                <li>Range value in option</li>
                <li>Add - remove slide</li>
                <li>Remote api from other markup</li>
            </ul>
        </div>
        <!-- List features - end -->

    </div>
    </div>
    </div>
    <!-- LIST ALL FEATURES - end
    ======================================================================== -->







    <!-- Footer - begin
    ======================================================================== -->
    <div class="wrapper footer"><div class="container">

        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; HaiBach. All Rights Reserved.</p>
        </section>
        
    </div></div>
    <!-- Footer - end
    ======================================================================== -->







    <!-- Script - begin
    ======================================================================== -->
    <script src="../libs/scripts/jquery-last.min.js"></script>
    <script src="../libs/scripts/ruby01.js"></script>
    <script src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script src="../libs/scripts/custom.js"></script> <!-- Page custom script -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
