<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>SLIDER FREE ::CODESLIDER::</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.css">
    <link rel="stylesheet" href="../code/codeslider.css">
    <link rel="stylesheet" href="css/codeslider.free.css">

    <!-- CSS embed -->
    <style></style>


    
    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->
    
</head>
<body>


    <!-- Header - begin
    ============================================================== -->
    <div class=" wrapper header logo-left dark">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo no-pa" href="index.html" data-mScale="85">
            <img src="../libs/imgs/logo_hl.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small">
            <ul class="menu">

                <li>
                    <a href="#">Templates</a>
                    <ul class="menu right">
                        <li><a href="index.html">Slider Layer | Home</a></li>
                        <li><a href="slider.free.html">Slider Free</a></li>
                        <li><a href="slider.simple.html">Slider Simple</a></li>
                        <li><a href="slider.bg.html">Slider Background</a></li>
                        <li><a href="slider.device.html">Slider Device</a></li>
                        <li><a href="slider.classic1.html">Slider Classic 1</a></li>
                        <li><a href="slider.classic2.html">Slider Classic 2</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->






    <!-- Breadcrumbs - begin
    ============================================================== -->
    <div class="wrapper breadcrumbs show-desktop dark">
    <div class="container">
        
        <div class="page-title">
            <h3><strong>SLIDER FREE</strong></h5>
        </div>
                
        <ul class="bc-nav">
            <li><a href="#">Template</a></li>
            <li><a href="#">Slider free</a></li>
        </ul>
    </div>
    </div>
    <!-- Breadcrumbs - end
    ============================================================== -->






    <!-- Image slider - begin
    ============================================================== -->
    <div class="wrapper dark">
    <div class="container">
    <div class="row ma-b-100">

        <!-- Caption slider - begin -->
        <div class="span4">
            <div class="cs-cap" data-slider="name-1"></div>
        </div>
        <!-- Caption slider - end -->
    

        <!-- Slider custom - begin -->
        <div class="span6 offset1">
            <div class="cs" data-slider="name-1 layout-free responsive-448 isCap-on fLoop-4 isSlAsPag-on">
                
                <a class="cs-img" href="imgs/slider/custom_img1.jpg">

                    <h4 class='pa-b-20 bo-b'>1. Fusce auctor rhoncus ipsum</h4>
                    <p>Ut suscipit tempor sapien eu tincidunt. Aenean volutpat tincidunt orci ac venenatis. Aenean luctus, ipsum feugiat bibendum faucibus, sapien est tempus est, vel aliquet ipsum elit et risus. Aenean eget urna sit amet nibh accumsan dapibus.</p>
                </a>

                <a class="cs-img" href="imgs/slider/custom_img2.jpg">

                    <h4 class='pa-b-20 bo-b'>2. Nam in urna dignissim mauris</h4>
                    <p>Aenean sodales fermentum porttitor. Aliquam iaculis fringilla nunc id faucibus. Sed sit amet arcu eu dolor viverra tempor in ut ligula. Nulla consectetur congue rutrum. Integer gravida, justo non scelerisque condimentum, arcu lectus fringilla eros, et auctor felis ante faucibus lectus.</p>
                </a>

                <a class="cs-img" href="imgs/slider/custom_img3.jpg">

                    <h4 class='pa-b-20 bo-b'>3. Quisque suscipit fringilla</h4>
                    <p>Vestibulum mauris lorem, placerat at vehicula sit amet, sagittis ut velit. Quisque laoreet tortor quis lectus molestie nec sollicitudin eros consequat. Fusce auctor rhoncus ipsum. Aenean tincidunt egestas velit. Fusce sed magna ipsum, sit amet dictum velit.</p>
                </a>

                <a class="cs-img" href="imgs/slider/custom_img4.jpg">

                    <h4 class='pa-b-20 bo-b'>4. Suspendisse id nunc gravida</h4>
                    <p>Pellentesque eget massa sed ipsum fermentum placerat. Fusce nibh erat, varius ut interdum sit amet, malesuada nec libero. Aenean euismod nunc quis justo scelerisque vitae sodales purus lobortis.</p>
                </a>
                
            </div>

            <div class="cs-nav ma-t-50" data-slider="name-1"></div>
        </div>
        <!-- Slider custom - end -->
        
    </div>
    </div>
    </div>
    <!-- Image slider - end
    ============================================================== -->




    
    <!-- Dummnytext - begin
    ============================================================== -->
    <div class="wrapper">
    <div class="container">
    <div class="row">

        <div class="span4">
            <p><i>Dummy text. Nullam porta dignissim nisl, sit amet accumsan dui malesuada ac. Integer elit elit, venenatis euismod semper accumsan, laoreet sed tellus.</i></p>
        </div>


        <div class="span8">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nihil, sequi, aut reprehenderit delectus porro eos quos modi in sed aspernatur ipsa facere doloribus repellat debitis assumenda et illo ipsum.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quod quos nihil reprehenderit doloremque hic minima ipsam maxime laboriosam animi dolorum veritatis! Consectetur odio perspiciatis temporibus laboriosam quam illum tenetur.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, similique, sapiente, ad, autem iste iure harum voluptates dolorem asperiores exercitationem dignissimos rem. Soluta, eum, dignissimos ipsa minima est deserunt dicta.</p>
        </div>
    
    </div>
    </div>    
    </div>
    <!-- Dummytext - end
    ============================================================== -->


    
    
    <!-- Footer - begin
    ============================================================== -->
    <div class="wrapper footer bo-t">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; 2013 Thystudio. All Rights Reserved.</p>
        </section>

    </div>
    </div>
    <!-- Footer - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->
    

    <script type="text/javascript">

        jQuery(document).ready(function($) {

            // Codeslider init
            $('.cs').codeslider();
        });

    </script>

    <!-- Script - end
    ============================================================== -->

</body>
</html>