<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>SLIDER BG | CODESLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.css">
    <link rel="stylesheet" href="../code/codeslider.css">

    <!-- CSS embed -->
    <style>
        
        /* Template style */
        body { background-color: #333; }
        .btn.actived { opacity: 1; }


        /* Slider background */
        .cs-bg {
            position: fixed;
            left: 0; top: 0;
            width: 100%;
        }
        .cs-bg, .cs-bg .cs-viewport { height: 100%; }
        
        /* Slider thumbnail */
        .cs-pagitem { display: block; float: left; }
        .cs-thumb .thumb {
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            border: 4px solid hsla(0,0%,100%,.3);
        }


        /* Slider timer */
        .cs-timer { position: fixed; top: 0; }
        .cs-timer.timer-bar > .bar { left: 0; background-color: hsla(0,0%,100%,.5); }
        .cs-timer.timer-arc { right: 0; }

    </style>

    
    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->

</head>
<body class="bg-dark" style='height: 100%;'>
    


    <!-- Slide Background - begin
    ============================================================== -->
    <div class="cs cs-bg" data-slider="name-bg fx-random slot-4 speed-1200 height-fixed img-autofill isDrag-off isNav-off thumb-list wThumb-60 hThumb-60 isKeyboard-on isSlideshow-on timer-bar">
        
        <a class="cs-img" href="imgs/slider/bg_big0.jpg">[bg0]</a>
        <a class="cs-img" href="imgs/slider/bg_big1.jpg">[bg1]</a>
        <a class="cs-img" href="imgs/slider/bg_big2.jpg">[bg2]</a>
        <a class="cs-img" href="imgs/slider/bg_big3.jpg">[bg3]</a>
        
    </div>


    <!-- Slider: timer -->
    <div class="cs-timer" data-slider="name-bg"></div>
    
    <!-- Slide Background - end
    ============================================================== -->





    <!-- Header - begin
    ============================================================== -->
    <div class=" wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo no-pa" href="index.html" data-mScale="85">
            <img src="../libs/imgs/logo.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small">
            <ul class="menu">

                <li>
                    <a href="#">Templates</a>
                    <ul class="menu right">
                        <li><a href="index.html">Slider Layer | Home</a></li>
                        <li><a href="slider.free.html">Slider Free</a></li>
                        <li><a href="slider.simple.html">Slider Simple</a></li>
                        <li><a href="slider.bg.html">Slider Background</a></li>
                        <li><a href="slider.device.html">Slider Device</a></li>
                        <li><a href="slider.classic1.html">Slider Classic 1</a></li>
                        <li><a href="slider.classic2.html">Slider Classic 2</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->

    
    

    <!-- Body content - begin
    ============================================================== -->
    <div class="wrapper">
    <div class="container">
    <div class="row">

        <div class="span6 ma-t-50">

            <!-- Dummny text -->
            <div class="show-desktop">
                <h1 class="strong">SLIDER BACKGROUND</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, temporibus, laboriosam totam quia illum corporis consequatur asperiores alias nam qui! Mollitia, cum, cumque ipsa maxime iure impedit asperiores incidunt ad!</p>

                <div class="hr dash left"></div>
            </div>
            

            <!-- Slider thumbnail -->
            <div class="clearfix">
                <div class="cs-pag ma-b-10" data-slider="name-bg"></div>
            </div>

    
            <!-- Slider control -->
            <div class="control">
                <a id="tOverlay" class="btn small" href="#">Overlay</a>
                <a id="tImg" class="btn small" href="#">Image Fill-Fit</a>
                <a id="tStop" class="btn small" href="#">Play/stop</a>
                <a id="tTimer" class="btn small" href="#">Timer</a>
            </div>

        </div>

    </div>
    </div>
    </div>
    <!-- Body content - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->


    <script type="text/javascript">

        function toggle(cs, $el, propON, propOFF) {
            var _a = 'actived';

            if( $el.hasClass(_a) ) { $el.removeClass(_a); cs.prop(propOFF); }
            else                   { $el.addClass(_a); cs.prop(propON); }
        }

        function control() {
            var code = $('.cs').data('codeslider');

            // Toggle overlay
            $('#tOverlay').on('click', function() {

                toggle(code, $(this), {isOverlay: 1}, {isOverlay: 0});
                return false;
            });

            // Toggle image type
            $('#tImg').on('click', function() {

                toggle(code, $(this), {img: 'autofit'}, {img: 'autofill'});
                return false;
            });


            // Toggle image type
            $('#tStop').on('click', function() {
                var _el = $(this), _a = 'actived';

                if( _el.hasClass(_a) ) {
                    _el.removeClass(_a);
                    code.play();
                }
                else {
                    _el.addClass(_a);
                    code.stop();
                }
                return false;
            });

            // Toggle image type
            $('#tTimer').on('click', function() {

                toggle(code, $(this), {timer: 'arc'}, {timer: 'bar'});
                return false;
            });
        }


        jQuery(document).ready(function($) {

            // Slider init
            $('.cs').codeslider();

            // Control function
            control();
        });
    </script>

    <!-- Script - end
    ============================================================== -->

</body>
</html>