<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>COVERFLOW3D EFFECT | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../libs/css/prettify.light.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>

    <!-- Header -->
    <div data-rubyheader></div>






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
        <div class="container">

            <!-- TITLE HEADING - begin -->
            <div class="title-head">
            <div class="title-head-inner">
                <h1>COVERFLOW3D EFFECT</h1>
            </div>
            </div>
            <!-- TITLE HEADING - end -->

        </div>


        
    

        <!-- SLIDER PREVIEW - begin -->
        <div class="slider-preview rs01"
            data-slider='{
                "fx"          : "line",
                "widthSlide0" : 0.5,
                "coverflow3D" : {
                    "widthSlide" : [0.8, [940, 960, 10000]]
                },
                "speed"       : 800,
                "width"       : 940
            }'>

            <a class="rs01imgback" href="imgs/vietnam1.jpg">vietnam 1</a>
            <a class="rs01imgback" href="imgs/vietnam2.jpg">vietnam 2</a>
            <a class="rs01imgback" href="imgs/vietnam3.jpg">vietnam 3</a>
            <a class="rs01imgback" href="imgs/vietnam4.jpg">vietnam 4</a>
            <a class="rs01imgback" href="imgs/vietnam5.jpg">vietnam 5</a>
            <a class="rs01imgback" href="imgs/vietnam6.jpg">vietnam 6</a>

        </div>
        <!-- SLIDER PREVIEW - end -->
    
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- EFFECT CUSTOM STYLE - begin
    ======================================================================== -->
    <style>
        .fx {
            margin-bottom: 70px;
        }
        .fx-live .rs01pag {
            position: absolute;
            bottom: 0;
        }
        

        /* FX OPTIONS */
        .fx-option {
            padding-left: 20px;
            margin-top: 10px; margin-bottom: 10px;
            border-left: 1px dashed #999;
            font-size: 12px;
            line-height: 1.6em;
        }


        /* BUTTON SELECT */
        .fx-select {
            display: block;
            padding: 15px 20px;
            border: 1px solid #999;
            border-radius: 4px;
            color: #999;
            text-align: center;
            font-size: 1.2em;
            letter-spacing: 2px;
            cursor: pointer;
        }
        .fx-select:hover {
            background-color: #666;
            border-color: #666;
            color: #fff;
        }
        .fx-select.actived {
            background-color: #cc0055;
            border-color: #cc0055;
            color: #fff;
        }
    </style>

    <div class="wrapper">
    <div class="container">

        <div class="hr circle ma-b-100"></div>

        
        <!-- Heading -->
        <div class="title-big-wrap">
            <h1 class="">CUSTOM STYLE OF EFFECT</h1>
        </div>


        <!-- Template gallery -->
        <div class="fx-table row"></div>
    </div>
    </div>
    <!-- EFFECT CUSTOM STYLE - end
    ======================================================================== -->





    

    <!-- Footer -->
    <div data-rubyfooter></div>

    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../libs/scripts/prettify.min.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider-full.js"></script> <!-- RubySlider Plugin -->
    <script type="text/javascript" src="../libs/scripts/custom.js"></script> <!-- Page custom script -->


    <script type="text/javascript">
    jQuery(document).ready(function($) {
        return;

        var code     = $('.slider-preview').data('rubyslider'),
            actived  = 'actived',
            $fxTable = $('.fx-table'),

            fxDefault   = code.optsCur().fx,
            optsDefault = {
                type : 'slider',
                fx          : 'coverflow3D',
                coverflow3D : {
                                widthSlide : 0.7
                            },
                speed       : 800,
                width       : 940,
                isNav       : false,
                pag         : { 'type': 'bullet' }
            },
            aFxCustom = [
                {
                    zDeep   : 600,
                    rotate  : 30,
                    opacity : 1
                }, {
                    zDeep   : 0,
                    rotate  : 0,
                    opacity : 0.1
                }, {
                    rotate  : 0,
                    opacity : 0.3
                }, {
                    rotate  : -30,
                    opacity : 0.3
                }
            ];




        /**
         * ***********************************************************
         * RENDER MARKUP
         * ***********************************************************
         */
        var strFx = '', numFx = 0;
        for(var i = 0, len = aFxCustom.length - 1; i <= len; i++) {
            numFx++;


            /**
             * SETUP FX CUSTOM STRING
             */
            var optsString = JSON.stringify(aFxCustom[i], null, 4);

            // Case fx default
            if( optsString === '{}' ) optsString = '{\n    // Fx default\n}';



            /**
             * MAARKUP EFFECT LIVE
             */
            strFx += '<div class="col6">'
                   + '<div class="fx">'
                   
                   +    '<div class="fx-live">'
                   +        '<div class="rs01">'
                   +            '<a class="rs01imgback" href="imgs/season-landscape2.jpg">season 2</a>'
                   +            '<a class="rs01imgback" href="imgs/season-landscape4.jpg">season 4</a>'
                   +            '<a class="rs01imgback" href="imgs/season-landscape7.jpg">season 7</a>'
                   +        '</div>'
                   +    '</div>'

                   +    '<pre class="fx-option prettyprint">' + optsString + '</pre>'

                   +    '<a class="fx-select" data-fx="'+ i +'">Style '+ numFx +'</a>'
                   + '</div>'
                   + '</div>';
        }
        $fxTable.html(strFx);


        /**
         * PRETTY PRINT INIT
         */
        prettyPrint();






        /**
         * ***********************************************************
         * INIT EFFECT LIVE
         * ***********************************************************
         */
        var $fx = $('.fx');
        $fx.each(function(i) {

            var $fxCur     = $(this),
                $sliderCur = $fxCur.find('.rs01'),
                optsCur    = $.extend( true, {}, optsDefault, { 'coverflow3D': aFxCustom[i] } );

            // Khoi tao Slider
            $sliderCur.rubyslider(optsCur);

            // Actived fx custom first
            if( i === 0 ) {
                $fxCur.find('.fx-select').addClass(actived);
            }
        });





        /**
         * ***********************************************************
         * EVENT TAP ON FX SELECT
         * ***********************************************************
         */
        var $fxSelect      = $('.fx-select'),
            $fxSelectFirst = $fxSelect.eq(0);

        $fxSelect.on('click', function() {

            var $selectCur = $(this),
                fxCustom   = aFxCustom[ $selectCur.data('fx') ];

            // Remove class Actived
            if( $selectCur.hasClass(actived) ) {
                $selectCur.removeClass(actived);

                // Reactived style first
                $fxSelectFirst.addClass(actived);
                fxCustom = aFxCustom[0];
            }
            // Add class Actived
            else {
                $fxSelect.removeClass(actived);
                $selectCur.addClass(actived);
            }

            // Update For Slider Preview
            code.update({ 'coverflow3D': fxCustom });  
            return false;
        });
    });
    </script>
    <!-- Script - end
    ======================================================================== -->

</body>
</html>