<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>ADD REMOVE API | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


    <!-- CSS embed -->
    <style>

        /* Button API */
        .btn-api {
            height: 56px;
            line-height: 54px;
            font-size: 14px;
        }
        #api-add            { background-color: #cc0055; }
        #api-add:hover      { background-color: #bd0250; }
        #api-add:active     { background-color: #880039; }

        #api-remove         { background-color: #fa0; }
        #api-remove:hover   { background-color: #d90; }
        #api-remove:active  { background-color: #c70; }



        /* Form body */
        #id-add, #id-remove, #slide-thumb, #slide-image {
            font-family: monospace;
            font-size: .85em;
            line-height: 1.5em;
        }
        #slide-thumb {
            height: 100px;
            min-height: 100px;
        }
        #slide-image {
            height: 100px;
            min-height: 100px;
        }
    </style>
    
    
</head>
<body>

    <!-- HEADER - begin
    ======================================================================== -->
    <div class="wrapper header logo-left"><div class="container">
        
        <!-- Logo -->
        <a class="logo" href="../templates/" data-mScale="100">RubySlider</a>

        <!-- Menu -->
        <nav data-rubymenu></nav>
        
    </div></div>
    <!-- HEADER - end
    ======================================================================== -->






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- TITLE HEADING - begin -->
        <div class="title-head">
        <div class="title-head-inner">
            <h1>ADD REMOVE SLIDE API</h1>
        </div>
        </div>
        <!-- TITLE HEADING - end -->
        


        <!-- SLIDER PREVIEW - begin -->
        <div class="slider-preview rs01"
            data-slider='{
                "fx"    : "cssOne",
                "speed" : 800,
                "width" : 940
            }'>

            <a class="rs01imgback" href="imgs/vietnam1.jpg">vietnam 1</a>
            <a class="rs01imgback" href="imgs/vietnam2.jpg">vietnam 2</a>
            <a class="rs01imgback" href="imgs/vietnam3.jpg">vietnam 3</a>

        </div>
        <!-- SLIDER PREVIEW - end -->



        <div class="hr circle ma-100"></div>


        
        <!-- ADD - REMOVE API - begin -->
        <div class="row">

            <!-- ADD SLIDE - begin -->
            <div class="col8 ma-b-50">
                <h5>Add slide with content options</h5>
                <a id="api-add" class="btn btn-api bg block ma-b-50" href="#">Add slide</a>

                <form class="block">
                    <input id="id-add" type="text" value="" placeholder="id add (begin 0)">

                    <textarea id="slide-image" name="slide-image" cols="30" rows="10" spellcheck="false" autocorrect="false" placeholder="url main image"></textarea>

                    <textarea id="slide-thumb" name="slide-thumb" cols="30" rows="10" spellcheck="false" autocorrect="false" placeholder="url thumbnail image (option)"></textarea>

                </form>
            </div>
            <!-- ADD SLIDE - end -->


            
            <!-- REMOVE SLIDE - begin -->
            <div class="col4">
                <h5>Remove slide with ID options</h5>
                <a id="api-remove" class="btn btn-api bg block ma-b-50" href="#">Remove slide</a>

                <form class="block">
                    <input id="id-remove" type="text" value="" placeholder="id remove (begin 0)">
                </form>
            </div>
            <!-- REMOVE SLIDE - end -->

        </div>
        <!-- ADD - REMOVE API - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->





    

    <!-- Footer - begin
    ======================================================================== -->
    <div class="wrapper footer"><div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; HaiBach. All Rights Reserved.</p>
        </section>
        
    </div></div>
    <!-- Footer - end
    ======================================================================== -->







    <!-- Script - begin
    ======================================================================== -->
    <script src="../libs/scripts/jquery-last.min.js"></script>
    <script src="../libs/scripts/ruby01.js"></script>
    <script src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script src="../libs/scripts/custom.js"></script> <!-- Page custom script -->


    <script type="text/javascript">
    jQuery(document).ready(function($) {

        /* Setup add remove slide */
        var code        = $('.slider-preview').data('rubyslider'),
            $slideThumb = $('#slide-thumb'),
            $slideImage = $('#slide-image'),
            $IDAdd      = $('#id-add'),
            $IDRemove   = $('#id-remove');


        /**
         * FUNCTION RANDOM URL MAIN IMAGE
         */
        var idCur   = 0,
            aImgUrl = [
                'imgs/vietnam4.jpg',
                'imgs/vietnam5.jpg',
                'imgs/vietnam6.jpg',

                'imgs/season-landscape1.jpg',
                'imgs/season-landscape2.jpg',
                'imgs/season-landscape3.jpg',
                'imgs/season-landscape4.jpg',
                'imgs/season-landscape5.jpg',
                'imgs/season-landscape6.jpg',
                'imgs/season-landscape7.jpg',
                'imgs/season-landscape8.jpg'
            ],
            imgNum = aImgUrl.length;

        function GetUrlMainImage() {

            // Get Image in List
            var imgUrl = aImgUrl[idCur];

            // Reset lai ID Image neu vuot qua so luong Image url
            idCur++;
            if( idCur >= imgNum ) idCur = 0;
            return imgUrl;
        }




        /**
         * FUNCTION INSERT URL MAIN IMAGE TO INPUT
         */
        function PutNextUrlToInput() {

            // Get url main image
            var imgUrl = GetUrlMainImage();

            // Past url to input
            $slideImage.val(imgUrl);
        }

        // Setup at begin
        PutNextUrlToInput();




        /**
         * SETUP EVENT
         */
        // Add slide setup
        $('#api-add').on('click', function(e) {

            var strImage = $slideImage.val(),
                strThumb = $slideThumb.val();


            /**
             * SETUP HTML MAIN IMAGE
             */
            if( strImage !== '' && strImage !== $slideThumb.attr('placeholder') ) {
                strImage = '<a class="rs01imgback" href="' + strImage + '">main image</a>';    
            }
            else {
                strImage = '';
            }

            

            /**
             * SETUP HTML PAGINATION THUMBNAIL
             */
            if( strThumb !== '' && strThumb !== $slideThumb.attr('placeholder') ) {
                strThumb = '<a class="rs01thumbitem" href="' + strThumb + '">thumbnail</a>';
            }
            else {
                strThumb = '';
            }



            /**
             * COMBINE HTML+ INSERT NEW SLIDE
             */
            // Remove white space
            strImage = strImage.replace(/^\s*|\s*$/g, '');
            strThumb = strThumb.replace(/^\s*|\s*$/g, '');

            // Content of new slide
            var str = '<div>' + strImage + strThumb + '</div>';

            // Insert new slide
            code.addSlide( str, $IDAdd.val() );

            // Get new url main image to input
            PutNextUrlToInput();
            return false;
        });


        // Remove slide setup
        $('#api-remove').on('click', function(e) {

            code.removeSlide( $IDRemove.val() );
            return false;
        });
    });
    </script>
    <!-- Script - end
    ======================================================================== -->

</body>
</html>