<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>TEST VIDEO BACKGROUND | RUBY SLIDER</title>



    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper" style="overflow: hidden;">
    <div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>TEST VIDEO BACKGROUND</h1>
        </div></div>
        <!-- Title heading - end -->

        

        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slide-5 img {
                /*width: 200px !important;
                height: 100px !important;*/
            }
        </style>

        <div class="slider-preview rs01"
            data-slider='{
                "type" : "slider",
                "fx"          : "rectRun",
                "speed"       : 800,
                "width"       : 940,
                "height0"      : 300,

                "idBegin"     : 0,
                "isKeyboard"  : true,
                "isMask"      : "auto",
                "parallax"    : { "type": "scroll" },
                "isPag"       : true
            }'>

            
            <div data-slide='{ "imagePosition": "center" }'>

                <a  class="rs01videoback"
                    data-videoback='{ "position": "fill", "posterPosition": "fill" }'
                    
                    href="https://static.videezy.com/system/resources/previews/000/000/328/original/bokeh2.mp4"
                    data-poster0="imgs/season-landscape1.jpg"

                    data-video-source1="videos/oceans.mp4"
                    data-video-source2="https://static.videezy.com/system/resources/previews/000/000/328/original/bokeh2.mp4"
                    data-video-source3="http://www.html5rocks.com/en/tutorials/video/basics/devstories.webm"
                    >Video Back</a>
            </div>

            <!-- <div class="slide-1" data-slide='{ "imagePosition": "fill" }'>
                <a class="rs01imgback" href="imgs/season-landscape2.jpg">Season 2</a>
            </div> -->

            <div class="slide-2" data-slide='{ "imagePosition": "fit" }'>
                <a class="rs01imgback" href="imgs/season-landscape3.jpg">Season 3</a>
            </div>

            <div class="slide-3" data-slide='{ "imagePosition": "stretch" }'>
                <a class="rs01imgback" href="imgs/season-landscape4.jpg">Season 4</a>
            </div>

            <div class="slide-4" data-slide='{ "imagePosition": "center" }'>
                <a class="rs01imgback" href="imgs/season-landscape5.jpg">Season 5</a>
            </div>

            <div class="slide-5" data-slide='{ "imagePosition": "tile" }'>
                <a class="rs01imgback" href="imgs/season-landscape7.jpg" style="width: 200px; height: 100px;">Season 7</a>
            </div>

            <div class="slide-6" data-slide='{ "imagePosition": "center" }'>
                <a class="rs01imgback" href="imgs/season-landscape8.jpg">Season 8</a>
            </div>

        </div>
        <!-- SLIDER PREVIEW - end -->
    
    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->




    
    <div class="container">

        <!-- <video id="myvideo" width="100%" height="auto" poster="imgs/season-landscape3.jpg">
            <source src="videos/oceans.mp4">
        </video> -->

        
        <br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa reiciendis veritatis aut repellendus repellat, quo facilis nesciunt ex libero magnam ab inventore incidunt voluptate. Aut voluptatem culpa, veritatis quisquam accusantium.</p>
        <p>Dolorum aliquam, pariatur tenetur. Delectus deleniti tempore alias vel, soluta iste cumque, exercitationem quam iusto possimus quia veniam quaerat maxime incidunt laborum sequi ipsum eos temporibus placeat rerum vitae sit.</p>
        <p>Nesciunt quis tenetur, necessitatibus ab ea, sunt distinctio quo ipsa nostrum. Eveniet architecto, aperiam eaque quas fugit repellat, vel velit libero officia ex perferendis quaerat rem aspernatur autem quisquam at.</p>
        <p>Facere voluptate dolore laboriosam magnam delectus enim, explicabo, impedit asperiores tenetur. Voluptate molestias non, ullam sit corporis optio expedita ad culpa quibusdam ducimus repellat quod earum, vero vel explicabo. Cumque.</p>
        <p>Doloremque unde alias corporis placeat! Sed autem nobis, asperiores nulla error minus incidunt eveniet itaque, corporis expedita dolor dolorum, quibusdam? Voluptatum saepe repudiandae facere, nobis dolorem animi blanditiis voluptatem, fuga.</p>

    </div>







    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->


    <script type="text/javascript">
        jQuery(document).ready(function() {


            var $video = $('#myvideo'),
                video  = $video[0];


            if( video ) {

                /** 
                 * SETUP CONTROL
                 */
                // video.play();
                // setTimeout(function() { video.pause() }, 1000);
                // video.paused();
                // video.controls = false;
                console.dir(video);



                /** 
                 * SETUP EVENT
                 */
                $video.on('loadedmetadata', function() {
                    video.play();

                    // setTimeout(function() { video.pause() }, 100);
                    // console.log('loaded');
                });
            }   
        });
    </script>
    <!-- Script - end
    ======================================================================== -->

</body>
</html>