<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>TEST</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>

    <!-- HEADER - begin
    ======================================================================== -->
    <div class="wrapper header logo-left"><div class="container">
        
        <!-- Logo -->
        <a class="logo" href="../templates/" data-mScale="100">RubySlider</a>

    </div>
    </div>
    <!-- HEADER - end
    ======================================================================== -->






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>TEST FX 3D</h1>
        </div></div>
        <!-- Title heading - end -->
        



        
        <!-- SLIDER RAW - begin -->
        <style>

            .rs01viewport {
                overflow: visible;
                perspective: 2000px;
            }
            .rs01canvas {
                transform-style: preserve-3d;
            }
            .rs01slide {
                /*transform-style: preserve-3d;*/
            }

            /*.rs01slide.rs01slide1 { left: 300px; }
            .rs01slide.rs01slide2 { left: 600px; }
            .rs01slide.rs01slide3 { left: -600px; }
            .rs01slide.rs01slide4 { left: -300px; }*/


            .rs01imgback     { width: 100%; }
            .rs01imgback img { width: 100%; height: auto; }

        </style>


        <!-- <div class="slider-preview2 rs01 rs01layout-line rs01height-auto rs01fx-line rs01transition rs01pag-thumbnail rs01pag-hor rs01pag-end rs01ready">

            <div class="rs01viewport rs01swipe-on rs01grab">
                <div class="rs01canvas" style="width: 750px; transform: translate3d(95px, 0px, 0px);">

                    <div class="rs01slide rs01slide0 rs01ready rs01actived" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam1.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide1 rs01ready rs01deactived" style="transform: translate3d(750px, 0px, -600px) rotateY(-30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam2.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(1500px, 0px, -1200px) rotateY(-30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam3.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(2250px, 0px, -1800px) rotateY(-30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam6.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(-2250px, 0px, -1800px) rotateY(30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam7.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide3 rs01ready rs01deactived" style="transform: translate3d(-1500px, 0px, -1200px) rotateY(30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam4.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide4 rs01ready rs01deactived" style="transform: translate3d(-750px, 0px, -600px) rotateY(30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam5.jpg" alt="vietnam 1">
                        </div>
                    </div>

                </div>
            </div>
            
        </div> -->





        <div class="slider-preview2 rs01 rs01layout-line rs01height-auto rs01fx-line rs01transition rs01pag-thumbnail rs01pag-hor rs01pag-end rs01ready">

            <div class="rs01viewport rs01swipe-on rs01grab">
                <div class="rs01canvas" style="width: 750px; transform: translate3d(95px, 0px, 0px);">

                    <div class="rs01slide rs01slide0 rs01ready rs01actived" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam1.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide1 rs01ready rs01deactived" style="transform: translate3d(750px, 0px, -600px) rotateY(0deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam2.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(1500px, 0px, -600px) rotateY(0deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam3.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(2250px, 0px, -600px) rotateY(0deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam6.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(-2250px, 0px, -600px) rotateY(0deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam7.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide3 rs01ready rs01deactived" style="transform: translate3d(-1500px, 0px, -600px) rotateY(0deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam4.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide4 rs01ready rs01deactived" style="transform: translate3d(-750px, 0px, -600px) rotateY(0deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam5.jpg" alt="vietnam 1">
                        </div>
                    </div>

                </div>
            </div>
            
        </div>





        <!-- <div class="slider-preview2 rs01 rs01layout-line rs01height-auto rs01fx-line rs01transition rs01pag-thumbnail rs01pag-hor rs01pag-end rs01ready">

            <div class="rs01viewport rs01swipe-on rs01grab">
                <div class="rs01canvas" style="width: 750px; transform: translate3d(95px, 0px, 0px);">

                    <div class="rs01slide rs01slide0 rs01ready rs01actived" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam1.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide1 rs01ready rs01deactived" style="transform: translate3d(750px, 0px, -600px) rotateY(30deg) rotateX(15deg) rotateZ(-3deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam2.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(1500px, 0px, -1200px) rotateY(30deg) rotateX(20deg) rotateZ(-8deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam3.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(2250px, 0px, -1800px) rotateY(30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam6.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide2 rs01ready rs01deactived" style="transform: translate3d(-2250px, 0px, -1800px) rotateY(-30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam7.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide3 rs01ready rs01deactived" style="transform: translate3d(-1500px, 0px, -1200px) rotateY(-30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam4.jpg" alt="vietnam 1">
                        </div>
                    </div>

                    <div class="rs01slide rs01slide4 rs01ready rs01deactived" style="transform: translate3d(-750px, 0px, -600px) rotateY(-30deg);">
                        <div class="rs01imgback">
                            <img src="imgs/vietnam5.jpg" alt="vietnam 1">
                        </div>
                    </div>

                </div>
            </div> -->
            
        </div>
        <!-- SLIDER RAW - end -->
        
    
    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->





    

    <!-- Footer -->
    <div data-rubyfooter></div>

    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>