<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>TEST HOTSPOT</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper" style="overflow: hidden;">
    <div class="container">

        <!-- TITLE HEADING - begin -->
        <div class="title-head">
            <h1>TEST HOTSPOT</h1>
        </div>
        <!-- TITLE HEADING - end -->

        

        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slider-preview {
                /*width: 300px;*/
                margin-left: auto; margin-right: auto;
            }
        </style>

        <div class="slider-preview rs01 rs01timer-arcTop"
            data-slider='{
                "name"        : "slider1",
                "isAutoInit"  : true,
                "type" : "slider",
                "fx"          : "line",
                "speed"       : 600,
                "width"       : 940,
                "widthSlide2"  : 0.8,
                "isKeyboard"  : true,
                "idBegin"     : 0,
                "isMask"      : false,

                "isNav"       : true,
                "isPag0"       : false,
                "isCap0"       : true,
                "isSlideshow0" : true,

                "pag0"         : { "type": "bullet" },
                "slideshow0"   : { "isHoverPause": true }
            }'>

            <div class="slide1" data-slide='{ "parallax": { "isScroll": false } }'>
                <a class="rs01imgback" href="imgs/animal-focus-free1.jpg">Focus</a>

                <!-- <p class="rs01hotspotitem">Noi dung cua Hotspot</p> -->
                <!-- <div class="rs01hotspot">
                    <h1 class="rs01hspoint">Hotspot Point</h1>
                    <p class="rs01hsitem" data-hotspot="">Noi dung cua Hotspot</p>
                </div> -->

                
                <!-- <div class="rs01hotspot"
                    data-layer-animate='[
                            { "xy": "center" }
                    ]'>
                    
                    <p  class="rs01hsitem"
                        data-hotspot='{
                            "isActivedAtBegin" : false,
                            "position"  : "top",
                            "eventType" : "hover",
                            "animRightIn" : [{ "x": "-100%", "opacity": 0 }, { "x": 0, "rotate": 360, "opacity": 1, "duration": 400 }]
                        }'
                        >Noi dung cua Hotspot <br>Dong thu hai <br>Dong thu ba</p>
                </div> -->


                <!-- <div class="rs01hotspot"
                    data-layer-animate='[
                            { "x": 200, "y": 100 }
                    ]'>
                    
                    <p  class="rs01hsitem"
                        data-hotspot='{
                            "isActivedAtBegin" : false,
                            "position"  : "right",
                            "eventType" : "hover",
                            "animRightIn" : [{ "x": "-100%", "opacity": 0 }, { "x": 0, "rotate": 360, "opacity": 1, "duration": 400 }]
                        }'
                        >Noi dung cua Hotspot <br>Dong thu hai <br>Dong thu ba</p>
                </div> -->


                <div class="rs01hotspot"
                    data-layer-animate='[
                            { "x": 200, "y": 400 }
                    ]'>
                    
                    <p  class="rs01hsitem"
                        data-hotspot='{
                            "isActivedAtBegin" : false,
                            "isResponsive" : false,
                            "widthItem" : 200,
                            "position"  : "top",
                            "eventToOpen" : "tap",
                            "animTopIn" : { "fx": "flipXIn", "duration": 600 },
                            "animTopOut" : { "fx": "soEdgeDownOut", "duration": 200 }
                        }'
                        >Noi dung cua Hotspot, Dong thu hai, Dong thu ba, Dong thu tu</p>
                </div>
                
            </div>


            <a class="rs01imgback" href="imgs/animal-focus-free2.jpg">animal 2</a>
            <!-- <a class="rs01imgback" href="imgs/animal-focus-free3.jpg">animal 3</a>
            <a class="rs01imgback" href="imgs/animal-focus-free4.jpg">animal 4</a>
            <a class="rs01imgback" href="imgs/animal-focus-free5.jpg">animal 5</a>
            <a class="rs01imgback" href="imgs/animal-focus-free6.jpg">animal 6</a> -->

        </div>
        <!-- SLIDER PREVIEW - end -->

    
    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->


    <!-- <div class="rs01nav" data-slider='{ "name": "slider1" }'></div> -->
    <!-- <div class="rs01pag" data-slider='{ "name": "slider1" }'></div> -->
    <!-- <div class="rs01cap" data-slider='{ "name": "slider1" }' style="padding: 20px; font-size: 2em;"></div> -->
    <!-- <div class="rs01nav" data-rubyslider-markup="slider1"></div> -->
    <a class="btn" data-rubyslider-api='{ "name": "next", "markup": "slider1" }'>Di toi Slide ke tiep</a>







    <div class="container">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, fugiat quae quasi accusantium a architecto similique, perferendis reiciendis beatae dolorum suscipit excepturi odit dolores dolore, sequi recusandae voluptatum ad aliquid.</span><span>Pariatur quasi optio laborum. Ab aliquam deleniti eos, omnis voluptas molestias veritatis alias, optio tempore quidem nesciunt in maiores fugiat beatae quae doloremque architecto amet natus ea vitae maxime dolor.</span></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi architecto, repellendus blanditiis tempore obcaecati, aspernatur velit animi aliquid, fugit eius harum dicta odit. Qui atque dolore quia suscipit aut unde.</p>
        <p>Quod earum corrupti hic accusamus quam quia aspernatur et suscipit, culpa consequatur blanditiis, corporis alias ad. Natus dicta provident tenetur, eveniet voluptatem asperiores deleniti sunt? Praesentium quo voluptate, deserunt obcaecati.</p>
    </div>








    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>