<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">

    <!-- Title of page -->
    <title>LOAD CONTENT BY AJAX | RUBY SLIDER</title>



    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper" style="overflow: hidden;">
    <div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>LOAD CONTENT BY AJAX</h1>
        </div></div>
        <!-- Title heading - end -->



        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slide-5 img {
                /*width: 200px !important;
                height: 100px !important;*/
            }
        </style>

        <div class="slider-preview rs01"
            data-slider='{
                "fx"          : "cssOne",
                "speed"       : 600,
                "width"       : 940,
                "height"      : 300,
                "imageback"   : { "pixelRatio": 2 }
            }'>

            <a class="rs01imgback" href="imgs/vietnam-large1.jpg">Vietnam 1</a>
            <a class="rs01imgback" href="imgs/vietnam-large2.jpg">Vietnam 2</a>
        </div>
        <!-- SLIDER PREVIEW - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->


    <div class="load-file" data-file="footer.html"></div>







    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->


    <script>
        console.log('hello');
    </script>
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
