<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>CSS TWO EFFECT | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>

    <!-- HEADER - begin
    ======================================================================== -->
    <div class="wrapper header logo-left"><div class="container">
        
        <!-- Logo -->
        <a class="logo" href="../templates/" data-mScale="100">RubySlider</a>

    </div>
    </div>
    <!-- HEADER - end
    ======================================================================== -->






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>CSS TWO EFFECT</h1>
        </div></div>
        <!-- Title heading - end -->

        

        <!-- SLIDER PREVIEW - begin -->
        <div class="slider-preview rs01"
            data-slider='{
                "isAutoInit"  : true,
                "type" : "slider",
                "fx"          : "cssTwo",
                "cssTwoOut"   : "soEdgeOneLeftOut",
                "cssTwoIn"    : "soEdgeOneRightIn",

                "speed"       : 1000,
                "width"       : 940,
                "isKeyboard"  : true,
                "isMask"      : false,
                "swipe"       : { "isLiveEffect": true }
            }'>

            <a class="rs01imgback" href="imgs/vietnam1.jpg">vietnam 1</a>
            <a class="rs01imgback" href="imgs/vietnam2.jpg">vietnam 2</a>
            <a class="rs01imgback" href="imgs/vietnam3.jpg">vietnam 3</a>
            <a class="rs01imgback" href="imgs/vietnam4.jpg">vietnam 4</a>
            <a class="rs01imgback" href="imgs/vietnam5.jpg">vietnam 5</a>
            <a class="rs01imgback" href="imgs/vietnam6.jpg">vietnam 6</a>

        </div>
        <!-- SLIDER PREVIEW - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- EFFECT TABLES - begin
    ======================================================================== -->
    <style>
        .fx {
            position: relative;
            margin-bottom: 32px;
            border: 1px dashed transparent;
            text-align: center;
        }
        .fx-name {
            padding: 30px 10px 0 10px;
        }
        .fx-live {
            height: 80px;
            background-color: #bcd;
            border-radius: 4px;
            color: #222;
            cursor: pointer;

            -webkit-animation-duration: 1s !important;
                    animation-duration: 1s !important;
        }
        .fx-select {
            position: absolute;
            top: 0; right: 0;
        }
        .fx-select > span {
            display: block;
            float: left;
            width: 20px; height: 12px;
            padding: 5px 5px;
            margin-left: 2px;

            background-color: hsla(0,0%,100%,.1);
            color: hsla(0,0%,0%,.5);
            font-size: 11px;
            line-height: 12px;
            cursor: pointer;

            -webkit-box-sizing: content-box;
               -moz-box-sizing: content-box;
                    box-sizing: content-box;
        }

        .fx.actived         { border-color: #ddd; }
        .fx-in.actived      { background-color: #0cf; color: #fff; }
        .fx-out.actived     { background-color: #fa0; color: #fff; }

        @media only screen and (max-width: 959px) {
            .fx {
                margin-bottom: 20px;
            }
        }



        /* Effect Size */
        .fx-br              { float: left; width: 100%; height: 60px; }
        .fx-issue           { padding-top: 50px; padding-bottom: 50px; }

        .fx-issue0 .fx-live { background-color: #ff006a; color: #fff; }
        .fx-issue1 .fx-live { background-color: #00c0dc; color: #fff; }
        .fx-issue2 .fx-live { background-color: #8dd86c; }
        .fx-issue3 .fx-live { background-color: #00ccff; }
        .fx-issue4 .fx-live { background-color: #ffcc55; }
        .fx-issue5 .fx-live { background-color: #eeaa99; }
    </style>

    <div class="wrapper ma-b-50">
    <div class="container">

        <div class="hr circle ma-b-100"></div>

        
        <!-- Heading -->
        <div class="title-big-wrap">
            <h1 class="">EXAMPLES OF LIVE EFFECT</h1>
        </div>
        

        <!-- Template gallery -->
        <div class="fx-table row"></div>
    </div>
    </div>
    <!-- EFFECT TABLES - end
    ======================================================================== -->





    

    <!-- Footer -->
    <div data-rubyfooter></div>

    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script type="text/javascript" src="../libs/scripts/custom.js"></script> <!-- Page custom script -->


    <script type="text/javascript">
        jQuery(document).ready(function($) {

            var code     = $('.slider-preview').data('rubyslider'),
                actived  = 'actived',
                speed    = 1000,
                $effect  = $('#effects'),
                $fxTable = $('.fx-table'),
                $fxLast, $fxInLast, $fxOutLast;

            var aFx = {

                'title0' : 'Basic - Specials',
                'group0' : ['none', 'fadeOut', 'fadeIn', 'bounceOut', 'bounceIn',
                            'roSlit', 'newspaperOut', 'newspaperIn', 'holeOut', 'holeIn', 'br',
                            'flipXOut', 'flipYOut', 'flipXIn', 'flipYIn',
                            'lightSpeedOut', 'lightSpeedIn', 'br',
                            'hingeLeft', 'hingeRight', 'rollLeftOut', 'rollRightOut', 'rollLeftIn', 'rollRightIn',
                            'magic', 'swap', 'twistUpIn', 'twistDownIn', 'br',
                            'foolishOut', 'foolishIn', 'bombLeftOut', 'bombRightOut'],

                'title1' : 'Pull - Glue - Perspective',
                'group1' : ['pullOut', 'pullIn', 'pushOut', 'pushIn', 'swashOut', 'swashIn',
                            'pullBounceOut', 'pullBounceIn', 'pushBounceOut', 'pushBounceIn',
                            'pullSoftOut', 'pullSoftIn', 'pushSoftOut', 'pushSoftIn', 'br',
                            'glueLeftOut', 'glueRightOut', 'glueUpOut', 'glueDownOut',
                            'glueLeftIn', 'glueRightIn', 'glueUpIn', 'glueDownIn', 'br',
                            'perspectiveLeftOut', 'perspectiveRightOut', 'perspectiveUpOut', 'perspectiveDownOut',
                            'perspectiveLeftIn', 'perspectiveRightIn', 'perspectiveUpIn', 'perspectiveDownIn'],

                'title2' : 'Move - Fan - Scale',
                'group2' : ['moveLeftBehind', 'moveRightBehind', 'moveLeftFront', 'moveRightFront',
                            'moveShortLeftBehind', 'moveShortRightBehind', 'moveShortLeftFront', 'moveShortRightFront', 'br',
                            'fanBehindUp', 'fanBehindDown', 'fanFrontUp', 'fanFrontDown', 'br',
                            'soEdgeLeftOut', 'soEdgeRightOut', 'soEdgeUpOut', 'soEdgeDownOut',
                            'soEdgeLeftIn', 'soEdgeRightIn', 'soEdgeUpIn', 'soEdgeDownIn'],

                'title3' : 'Slide',
                'group3' : ['slideLeftOut', 'slideRightOut', 'slideUpOut', 'slideDownOut',
                            'slideLeftIn', 'slideRightIn', 'slideUpIn', 'slideDownIn', 'br',
                            'slideOneLeftOut', 'slideOneRightOut', 'slideOneUpOut', 'slideOneDownOut',
                            'slideOneLeftIn', 'slideOneRightIn', 'slideOneUpIn', 'slideOneDownIn', 'br',
                            'slideShortLeftOut', 'slideShortRightOut', 'slideShortUpOut', 'slideShortDownOut',
                            'slideShortLeftIn', 'slideShortRightIn', 'slideShortUpIn', 'slideShortDownIn', 'br',
                            'slideFadeLeftOut', 'slideFadeRightOut', 'slideFadeUpOut', 'slideFadeDownOut',
                            'slideFadeLeftIn', 'slideFadeRightIn', 'slideFadeUpIn', 'slideFadeDownIn', 'br',
                            'slideBounceLeftOut', 'slideBounceRightOut', 'slideBounceUpOut', 'slideBounceDownOut',
                            'slideBounceLeftIn', 'slideBounceRightIn', 'slideBounceUpIn', 'slideBounceDownIn', 'br',
                            'slideTinLeftOut', 'slideTinRightOut', 'slideTinUpOut', 'slideTinDownOut',
                            'slideTinLeftIn', 'slideTinRightIn', 'slideTinUpIn', 'slideTinDownIn', 'br',
                            'slideShakeLeftOut', 'slideShakeRightOut', 'slideShakeUpOut', 'slideShakeDownOut',
                            'slideShakeLeftIn', 'slideShakeRightIn', 'slideShakeUpIn', 'slideShakeDownIn', 'br',
                            'slideScaleLeftOut', 'slideScaleRightOut', 'slideScaleUpOut', 'slideScaleDownOut',
                            'slideScaleLeftIn', 'slideScaleRightIn', 'slideScaleUpIn', 'slideScaleDownIn', 'br',
                            'slidePullLeftOut', 'slidePullRightOut', 'slidePullUpOut', 'slidePullDownOut',
                            'slidePullLeftIn', 'slidePullRightIn', 'slidePullUpIn', 'slidePullDownIn'],

                'title4' : 'Rotate',
                'group4' : ['roLeftOut', 'roRightOut', 'roUpOut', 'roDownOut',
                            'roLeftIn', 'roRightIn', 'roUpIn', 'roDownIn', 'br',
                            'roDownLeftOut', 'roDownRightOut', 'roUpLeftOut', 'roUpRightOut',
                            'roDownLeftIn', 'roDownRightIn', 'roUpLeftIn', 'roUpRightIn', 'br',
                            'roSoftLeftOut', 'roSoftRightOut', 'roSoftLeftIn', 'roSoftRightIn', 'br',
                            'roTwistLeftOut', 'roTwistRightOut', 'roTwistUpOut', 'roTwistDownOut',
                            'roTwistLeftIn', 'roTwistRightIn', 'roTwistUpIn', 'roTwistDownIn', 'br',
                            'roWheelLeftOut', 'roWheelRightOut', 'roWheelUpOut', 'roWheelDownOut',
                            'roWheelLeftIn', 'roWheelRightIn', 'roWheelUpIn', 'roWheelDownIn', 'br',
                            'roFlitLeftOut', 'roFlitRightOut', 'roFlitUpOut', 'roFlitDownOut',
                            'roFlitLeftIn', 'roFlitRightIn', 'roFlitUpIn', 'roFlitDownIn', 'br',
                            'roFoldLeftOut', 'roFoldRightOut', 'roFoldUpOut', 'roFoldDownOut',
                            'roFoldLeftIn', 'roFoldRightIn', 'roFoldUpIn', 'roFoldDownIn', 'br',
                            'roRoomLeftOut', 'roRoomRightOut', 'roRoomUpOut', 'roRoomDownOut',
                            'roRoomLeftIn', 'roRoomRightIn', 'roRoomUpIn', 'roRoomDownIn', 'br',
                            'roEdgeLeftOut', 'roEdgeRightOut', 'roEdgeUpOut', 'roEdgeDownOut',
                            'roEdgeLeftIn', 'roEdgeRightIn', 'roEdgeUpIn', 'roEdgeDownIn',
                            'roEdgeSoftLeftOut', 'roEdgeSoftRightOut', 'roEdgeSoftUpOut', 'roEdgeSoftDownOut', 'br',
                            'roShortPushLeftOut', 'roShortPushRightOut', 'roShortPushLeftIn', 'roShortPushRightIn',
                            'roShortPullLeftOut', 'roShortPullRightOut', 'roShortPullLeftIn', 'roShortPullRightIn'],

                'title5' : 'Attentions',
                'group5' : ['wave', 'juggle', 'flatten', 'bounce', 'flash', 'pulse', 'rubberBand', 'swing', 'tada', 'wobble', 'br',
                            'flip', 'bobUp', 'bobDown', 'bobLeft', 'bobRight', 'ringLeft', 'ringRight', 'ringUp', 'ringDown', 'br',
                            'shake', 'shakeSlow', 'shakeLittle', 'shakeHard', 'shakeHor', 'shakeVer', 'shakeRotate', 'shakeOpacity', 'shakeCrazy']
            },
            numFx = 6;




            /* Render markup
            ************************************************************** */
            var renderNewLine = function() {
                    return '<div class="fx-br"></div>';
                },

                renderFxChild = function(fxCur) {

                    return     '<div class="col3 col-xxs-6">'
                            +  '<div class="fx" data-fx="'+ fxCur +'">'
                            +  '    <div class="fx-live">'
                            +  '        <div class="fx-name">'+ fxCur +'</div>'
                            +  '    </div>'
                            
                            +  '    <div class="fx-select">'
                            +  '        <span class="fx-in">in</span>'
                            +  '        <span class="fx-out">out</span>'
                            +  '    </div>'
                            +  '</div>'
                            +  '</div>';
                },

                renderFxIssue = function(title, strGroup, id) {

                    return     '<div class="fx-issue fx-issue'+ id +'">'
                            +  '<div class="container">'
                            +  '    <h3>'+ title +'</h3>'
                            +  '    <div class="fx-list row">'+ strGroup +'</div>'
                            +  '</div>'
                            +  '</div>';
                };

            var strFxIssue = '', nCountFx = 0;
            for(var i = 0, lenI = numFx-1; i <= lenI; i++) {

                var strFxGroup = ''
                    fxGroup    = aFx['group'+ i],
                    fxTitle    = aFx['title'+ i];

                for(var j = 0, lenJ = fxGroup.length-1; j <= lenJ; j++) {
                    var fxCur = fxGroup[j];

                    // check new line
                    if( fxCur == 'br' ) { strFxGroup += renderNewLine(); }
                    else                { strFxGroup += renderFxChild(fxCur); nCountFx++; }
                }

                // Render fx issue
                strFxIssue += renderFxIssue(fxTitle, strFxGroup, i);
            }
            $fxTable.html(strFxIssue);



            /* Effects live show
            ************************************************************** */
            var $fx = $('.fx');
            $fx.each(function() {

                var $el     = $(this),
                    $fxName = $el.find('.fx-name'),
                    $fxLive = $el.find('.fx-live'),
                    $fxIn   = $el.find('.fx-in'),
                    $fxOut  = $el.find('.fx-out'),
                    fxName  = $el.data('fx'),
                    fxAnim  = 'ruby-animated';


                /* FX LIVE EVENTS CLICK */
                var tiLive,
                    delay    = 1000,
                    fxRemove = function() {
                        $el.removeClass(actived);
                        $fxLive.removeClass(fxName +' '+ fxAnim);
                    };

                $el.on('click', function(e) {
                    if( $el.hasClass(actived) ) {
                        clearTimeout(tiLive);
                        fxRemove();
                    }

                    else {

                        // Loai bo hieu ung tren effect cu
                        !!$fxLast && $fxLast.removeClass(actived);

                        // Add class effect tren fxLive
                        $el.addClass(actived);
                        $fxLive.addClass(fxName +' '+ fxAnim);

                        // Assign to varible fxlast
                        $fxLast = $el;

                        // Setup timer de remove hieu ung sau 1000ms
                        clearTimeout(tiLive);
                        tiLive = setTimeout(fxRemove, 1000);
                    }

                    return false;
                });


                /* FX SELECT EVENTS CLICK */
                var inOutFx = function(isFxIn) {

                    var $el     = isFxIn ? $fxIn     : $fxOut,
                        $elLast = isFxIn ? $fxInLast : $fxOutLast,
                        opts    = {};

                    if( $el.hasClass(actived) ) {
                        $el.removeClass(actived);
                    }
                    else {

                        // Loai bo select tren doi tuong cu
                        !!$elLast && $elLast.removeClass(actived);

                        // Add class vao doi tuong hien tai
                        $el.addClass(actived);

                        // Update hieu ung len tabs
                        opts[isFxIn ? 'cssTwoIn' : 'cssTwoOut'] = fxName;
                        code.update(opts);

                        // Luu tru doi tuong effect hien tai
                        // Khong the su dung $elLast duoc
                        if( isFxIn ) $fxInLast = $el;
                        else         $fxOutLast = $el;
                    }
                };
                $fxIn.on( 'click', function(e) { inOutFx(1); return false; });
                $fxOut.on('click', function(e) { inOutFx(0); return false; });
            });
        });
    </script>
    <!-- Script - end
    ======================================================================== -->

</body>
</html>