<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>BASIC TEMPLATE | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- DUMMYTEXT - begin -->
    <style>
        .dummytext-before p {
            font-size: 21px;
            line-height: 1.5em;
        }
    </style>

    <div class="wrapper dummytext-before">
    <div class="container">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae possimus quibusdam magni, cumque, aspernatur at et inventore ipsum, nemo ullam molestias magnam dolorum accusamus odio nihil, repellendus in provident numquam.</p>
        <p>Molestias facilis, ipsam magni commodi quis ad qui autem, obcaecati nam eaque? Fugit, sint recusandae dicta ex quod possimus nam non voluptatum! Consequatur officiis quibusdam pariatur soluta, assumenda officia rerum!</p>
        <p>Maxime enim at nam magni id, dignissimos iusto magnam reiciendis modi quis quas, delectus et. Velit eum nisi itaque delectus inventore laborum culpa voluptates consectetur sit fugit, architecto est nesciunt!</p>
        <p>Suscipit magnam eius corrupti molestiae. Atque maxime, illum dolore, non provident unde corporis nulla esse quidem repellendus perspiciatis, fugit veritatis, ipsam cupiditate odio quos nobis optio facere. Ipsam ex, asperiores?</p>
        <p>Omnis officiis alias quasi commodi magni praesentium numquam soluta quos libero rem minus totam quis tenetur sit cumque laboriosam laudantium magnam, optio ipsam voluptatibus. Provident quasi nulla distinctio incidunt temporibus.</p>
        <p>Nisi iure ea numquam. Ipsa, nulla. Magnam quisquam nesciunt numquam officia repellendus odio officiis quibusdam aliquam alias, placeat dolores dicta aliquid reiciendis quas odit nihil doloremque natus, soluta atque! Sequi!</p>
        <p>Omnis deserunt delectus temporibus fuga aliquid, quam, nemo unde quasi nulla in veniam aperiam id sunt laboriosam accusamus eius cum. Voluptas sint excepturi tempore aliquam vitae deleniti! Delectus aut, nisi.</p>
        <p>Reiciendis aliquam dolore, accusamus dolorum modi hic blanditiis quaerat perspiciatis fuga facere dolores odio vitae rem mollitia, doloremque ea repudiandae corrupti, magni atque voluptates voluptate aliquid? Molestias provident vero odit.</p>
        <p>Officiis quis, fugiat ad ullam voluptatem veniam, voluptatibus aliquid necessitatibus nostrum perferendis tempora minus enim debitis, modi quae voluptate delectus velit inventore consequatur. Ab ipsa, culpa labore quasi hic molestiae.</p>
        <p>Adipisci id vero culpa ad voluptatum ea, ipsum quos quasi illo earum ut eum hic unde eaque, aperiam in, voluptates accusantium nam aspernatur. Placeat hic quae excepturi! Assumenda, hic ipsam.</p>
    </div>
    </div>
    <!-- DUMMYTEXT - end -->






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper" style="overflow: hidden;">
    <div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>BASIC TEMPLATE</h1>
        </div></div>
        <!-- Title heading - end -->

        

        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slide-5 img {
                width: 200px !important;
                height: 100px !important;
            }
        </style>

        <div class="slider-preview rs01"
            data-slider='{
                "type" : "slider",
                "fx"          : "line",
                "speed"       : 600,
                "width"       : 940,
                "isKeyboard"  : true,
                "isMask"      : "auto",
                "parallax"    : { "type": "scroll" }
            }'>

            
            <div data-slide='{ "imagePosition": "center" }'>
                <a class="rs01imgback" href="imgs/season-landscape1.jpg">Season 1</a>
            </div>

            <div class="slide-1" data-slide='{ "imagePosition": "fill" }'>
                <a class="rs01imgback" href="imgs/season-landscape2.jpg">Season 2</a>
            </div>

            <div class="slide-2" data-slide='{ "imagePosition": "fit" }'>
                <a class="rs01imgback" href="imgs/season-landscape3.jpg">Season 3</a>
            </div>

            <div class="slide-3" data-slide='{ "imagePosition": "stretch" }'>
                <a class="rs01imgback" href="imgs/season-landscape4.jpg">Season 4</a>
            </div>

            <div class="slide-4" data-slide='{ "imagePosition": "center" }'>
                <a class="rs01imgback" href="imgs/season-landscape5.jpg">Season 5</a>
            </div>

            <div class="slide-5" data-slide='{ "imagePosition": "tile" }'>
                <a class="rs01imgback" href="imgs/season-landscape6.jpg">Season 6</a>
            </div>

            <div class="slide-6" data-slide='{ "imagePosition": "center" }'>
                <a class="rs01imgback" href="imgs/season-landscape7.jpg">Season 7</a>
            </div>

        </div>
        <!-- SLIDER PREVIEW - end -->
    
    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- DUMMYTEXT - begin -->
    <style>
        .dummytext-after p {
            font-size: 21px;
            line-height: 1.5em;
        }
    </style>

    <div class="wrapper dummytext-after">
    <div class="container">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae possimus quibusdam magni, cumque, aspernatur at et inventore ipsum, nemo ullam molestias magnam dolorum accusamus odio nihil, repellendus in provident numquam.</p>
        <p>Molestias facilis, ipsam magni commodi quis ad qui autem, obcaecati nam eaque? Fugit, sint recusandae dicta ex quod possimus nam non voluptatum! Consequatur officiis quibusdam pariatur soluta, assumenda officia rerum!</p>
        <p>Maxime enim at nam magni id, dignissimos iusto magnam reiciendis modi quis quas, delectus et. Velit eum nisi itaque delectus inventore laborum culpa voluptates consectetur sit fugit, architecto est nesciunt!</p>
        <p>Suscipit magnam eius corrupti molestiae. Atque maxime, illum dolore, non provident unde corporis nulla esse quidem repellendus perspiciatis, fugit veritatis, ipsam cupiditate odio quos nobis optio facere. Ipsam ex, asperiores?</p>
        <p>Omnis officiis alias quasi commodi magni praesentium numquam soluta quos libero rem minus totam quis tenetur sit cumque laboriosam laudantium magnam, optio ipsam voluptatibus. Provident quasi nulla distinctio incidunt temporibus.</p>
        <p>Nisi iure ea numquam. Ipsa, nulla. Magnam quisquam nesciunt numquam officia repellendus odio officiis quibusdam aliquam alias, placeat dolores dicta aliquid reiciendis quas odit nihil doloremque natus, soluta atque! Sequi!</p>
        <p>Omnis deserunt delectus temporibus fuga aliquid, quam, nemo unde quasi nulla in veniam aperiam id sunt laboriosam accusamus eius cum. Voluptas sint excepturi tempore aliquam vitae deleniti! Delectus aut, nisi.</p>
        <p>Reiciendis aliquam dolore, accusamus dolorum modi hic blanditiis quaerat perspiciatis fuga facere dolores odio vitae rem mollitia, doloremque ea repudiandae corrupti, magni atque voluptates voluptate aliquid? Molestias provident vero odit.</p>
        <p>Officiis quis, fugiat ad ullam voluptatem veniam, voluptatibus aliquid necessitatibus nostrum perferendis tempora minus enim debitis, modi quae voluptate delectus velit inventore consequatur. Ab ipsa, culpa labore quasi hic molestiae.</p>
        <p>Adipisci id vero culpa ad voluptatum ea, ipsum quos quasi illo earum ut eum hic unde eaque, aperiam in, voluptates accusantium nam aspernatur. Placeat hic quae excepturi! Assumenda, hic ipsam.</p>
    </div>
    </div>
    <!-- DUMMYTEXT - end -->







    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>