<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">

    <!-- Title of page -->
    <title>NATIVE FS ON TABS | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>

    <!-- Header -->
    <div data-rubyheader></div>






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper"><div class="container">

        <!-- Title heading - begin -->
        <div class="title-head"><div class="title-head-inner">
            <h1>NATIVE FS ON TABS</h1>
        </div></div>
        <!-- Title heading - end -->



        <!-- TABS PREVIEW - begin -->
        <style>
            .tabs-preview .card-thumbnail {
                border-radius: 4px;
            }
            .tabs-preview .card-content {
                padding: 20px 0;
                border-width: 0;
            }

            .tabs-preview .area-highlight {
                padding: 0 10px 0 0;
                border-width: 0;
            }
        </style>

        <div class="row">
        <div class="col6">
        <div class="tabs-preview rs01 rs01outline"
            data-slider='{
                "type" : "tabs",
                "fx"          : "cssOne",
                "speed"       : 800,
                "isNativeFS"  : true
            }'>


            <div>
                <div class="rs01pagitem">OVERVIEW</div>

                <div class="row font-blokk">

                    <div class="col4 col-xs-6">
                        <div class="card-outline">
                            <a class="rs01img card-thumbnail" href="imgs/animal-focus-thumbnail1.jpg">Animal 1</a>
                            <div class="card-content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat.</div>
                        </div>
                    </div>

                    <div class="col4 col-xs-6">
                        <div class="card-outline">
                            <a class="rs01img card-thumbnail" href="imgs/animal-focus-thumbnail2.jpg">Animal 2</a>
                            <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisi elit. Deleniti, pariatur aliquam molestias aspernatur. Facere, quibusdam.</div>
                        </div>
                    </div>

                    <div class="col4 col-xs-6">
                        <div class="card-outline">
                            <a class="rs01img card-thumbnail" href="imgs/animal-focus-thumbnail3.jpg">Animal 3</a>
                            <div class="card-content">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim donec consectetur io.</div>
                        </div>
                    </div>

                    <div class="col12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dolore, odit quaerat consectetur quae eveniet molestiae quisquam. Vitae nesciunt dolores, doloribus nostrum vel, provident expedita porro unde at quis sequi.</p>
                        <p>Quo amet ratione, placeat modi blanditiis sapiente quasi obcaecati debitis facilis consequatur facere excepturi quisquam perferendis sunt praesentium reprehenderit accusantium dolor deleniti. Ut est quidem asperiores, earum esse provident vitae.</p>
                        <p>Esse iusto dignissimos repudiandae odit corrupti, fugit voluptatem quod dolor libero soluta veritatis cumque doloremque eligendi sequi dicta porro aut possimus autem sunt, veniam et ullam omnis! Nemo nisi, voluptatum.</p>
                        <p>Placeat veritatis id recusandae dolor, porro omnis dolores obcaecati officia ducimus commodi, aliquid eius unde ab dolorum excepturi reiciendis, quis repellat voluptatibus voluptatem! Ea maiores deserunt, labore odio tempore, a.</p>
                        <p>Quis quia minus consectetur eveniet aspernatur, incidunt pariatur adipisci corporis culpa consequuntur beatae saepe veritatis illo, autem ullam, recusandae, totam ratione laboriosam nesciunt esse ipsam harum dolores consequatur sapiente. Ad.</p>
                        <p>Nemo, accusamus maxime nesciunt debitis, possimus commodi voluptates dicta libero illum non, quis, adipisci itaque quas minima beatae ipsa sint nihil inventore! Modi atque fuga iure deleniti unde inventore rerum.</p>
                        <p>Autem doloribus adipisci nobis cupiditate ad ea qui voluptatem temporibus repudiandae pariatur quidem, numquam sit, molestias non, enim dicta corporis repellendus? Illum dignissimos cupiditate mollitia neque veniam laborum, est alias.</p>
                        <p>Deserunt, itaque laborum sunt, cupiditate eligendi dolorem iste repudiandae quam dolor voluptate aut rem reiciendis sapiente doloremque officiis! Voluptas corrupti, deserunt voluptates aut soluta eum itaque quia nesciunt optio deleniti?</p>
                        <p>Alias molestiae autem modi dolore necessitatibus facere enim perferendis voluptatem sit commodi vel eaque numquam veritatis, exercitationem beatae provident, qui deserunt, animi. Aliquam praesentium consequatur quas, esse doloribus vero, ipsam.</p>
                        <p>Accusantium hic fugit veritatis quisquam aliquam repellendus nostrum eos laboriosam perspiciatis nemo aut quae, expedita magni praesentium amet a? Obcaecati, error. Et dolorem unde magnam nulla saepe tenetur porro doloremque!</p>
                    </div>

                </div>
            </div>


            <div>
                <div class="rs01pagitem">SLIDER NESTED</div>


                <!-- Slider Nested - begin -->
                <div class="rs01 slider-nested ruby-mark rs01nav-dark ma-b-30"
                    data-slider='{
                        "isAutoInit0" : false,
                        "fx"    : "rectMove",
                        "speed" : 1000,
                        "width" : 940,
                        "pag"   : { "type" : "bullet", "isMark" : true },
                        "isNav" : true
                    }'>

                    <a class="rs01imgback" href="imgs/season-landscape2.jpg">season 2</a>
                    <a class="rs01imgback" href="imgs/season-landscape4.jpg">season 4</a>
                    <a class="rs01imgback" href="imgs/season-landscape6.jpg">season 6</a>
                    <a class="rs01imgback" href="imgs/season-landscape7.jpg">season 7</a>
                </div>
                <!-- Slider Nested - end -->


                <!-- Dummy Content - begin -->
                <div class="row font-blokk">

                    <div class="col4">
                        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i></p>
                    </div>

                    <div class="col8">
                        <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                    </div>
                </div>
                <!-- Dummy Content - end -->
            </div>


            <div>
                <div class="rs01pagitem">SWIPE PREVENT</div>


                <div class="row bg-wrap">
                    <div class="col4">
                        <div class="rs01swipe-prevent area-highlight">
                            <h2 class="color-hl">Area prevent Swipe gestures</h2>
                            <p><i>Insert class "{ns}swipe-prevent" to stop swipe gestures on that element</i></p>
                            <p class="font-blokk"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisqua</i></p>
                            <a class="">Go to &rarr;</a>
                        </div>
                    </div>

                    <div class="col8">

                        <!-- FORM TABS - begin -->
                        <div class="tabs-form rs01 rs01size-large"
                            data-slider='{
                                "isAutoInit"  : false,
                                "type" : "tabs",
                                "fx"          : "cssOne",
                                "cssOne"      : "scalePulse",
                                "speed"       : 600
                            }'>


                            <!-- REGISTER FORM - begin -->
                            <div>
                                <h4 class="rs01pagitem muted">REGISTER</h4>
                                <form class="block clearfix">

                                    <input type="text" class="large" placeholder="Username">
                                    <input type="text" class="large" placeholder="Password">
                                    <input type="text" class="large" placeholder="Repeat Password">
                                    <input type="text" class="large" placeholder="Email">
                                    <textarea name="" cols="30" rows="5" placeholder="Your bio"></textarea>

                                    <label class="checkbox text-small muted pull-left" for="terms">
                                        <input id="terms" type="checkbox">I have read and I agree the Terms of Use
                                    </label>

                                    <input class="btn large pull-right no-ma" type="submit" value="Register">
                                </form>
                            </div>
                            <!-- REGISTER FORM - end -->


                            <!-- LOGIN FORM - begin -->
                            <div>
                                <h4 class="rs01pagitem">SIGN IN</h4>
                                <form class="block clearfix">

                                    <input type="text" class="large" placeholder="Username">
                                    <input type="password" class="large" placeholder="Password">

                                    <label class="checkbox text-small muted pull-left">
                                        <input type="checkbox">Remember?
                                    </label>

                                    <input class="btn large pull-right no-ma" type="submit" value="Login">
                                </form>
                            </div>
                            <!-- LOGIN FORM - end -->


                            <!-- RESET FORM - begin -->
                            <div>
                                <h4 class="rs01pagitem">ACCOUNT RESET</h4>
                                <p class="text-small muted">Forget your username or lost your password? No worries, simply <span class="color-hl">enter your email</span> and we'll send you new login details</p>

                                <form class="block no-ma clearfix">
                                    <input type="text" class="large" placeholder="Email">
                                    <input class="btn large pull-right no-ma" type="submit" value="Send">
                                </form>
                            </div>
                            <!-- RESET FORM - end -->

                        </div>
                        <!-- FORM TABS - end -->

                    </div>
                </div>
            </div>


            <div>
                <div class="rs01pagitem">IMAGE LAZYLOAD</div>

                <div class="row">
                    <div class="col4 col-xs-6">
                        <a class="rs01img card-img" href="imgs/food-thumbnail1.jpg">Food 1</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rs01img card-img" href="imgs/food-thumbnail2.jpg">Food 2</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rs01img card-img" href="imgs/food-thumbnail3.jpg">Food 3</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rs01img card-img" href="imgs/food-thumbnail4.jpg">Food 4</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rs01img card-img" href="imgs/food-thumbnail6.jpg">Food 6</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rs01img card-img" href="imgs/food-thumbnail7.jpg">Food 7</a>
                    </div>
                </div>
            </div>


            <div data-slide='{ "imageback" : { "position": "fit" } }'>
                <div class="rs01pagitem">VIDEO</div>


                <!-- Video - begin -->
                <a class="rs01imgback ma-b-30 video" href="imgs/video-preview.jpg" data-video-link="https://www.youtube.com/watch?v=2O0nz6o_oAE">Pictures of South East Asia</a>
                <!-- Video - end -->


                <!-- Dummy Content - begin -->
                <div class="row font-blokk">

                    <div class="col4">
                        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i></p>
                    </div>

                    <div class="col8">
                        <p class="dropcap">Vorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                    </div>
                </div>
                <!-- Dummy Content - end -->
            </div>
        </div>
        </div>
        <!-- TABS PREVIEW - end -->



        <!-- <div class="hr circle ma-100"></div> -->
        <div class="col6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti distinctio omnis eum voluptatem, numquam, voluptate repellendus dolorum, impedit rerum ipsum similique animi ducimus dignissimos ad. Et ex sequi earum, blanditiis?</p>
        <p>Labore libero nemo hic neque inventore vitae, blanditiis enim reiciendis adipisci iure, officia, aut voluptatibus aliquid illo! Accusantium error sed minima fuga nostrum harum, quos consequuntur. Odio quae magnam officia!</p>
        <p>Quaerat fugit corporis, cupiditate incidunt, quibusdam quia fuga ea aliquid vitae totam molestias voluptatibus ad sed hic. Incidunt praesentium fuga laborum consectetur dolor rerum eveniet, voluptate, ut necessitatibus, nisi, voluptas.</p>
        <p>Dolores velit doloremque possimus autem, labore odio, recusandae obcaecati. Consequatur enim accusamus dolor accusantium temporibus! Optio cupiditate qui repellat obcaecati at! Cumque mollitia quisquam quas, eaque obcaecati debitis quod, fugiat!</p>
        <p>Numquam perspiciatis eius fugiat accusamus saepe quidem laborum dolorem eos esse est nobis porro architecto aperiam dolore maxime velit, libero, officia sed culpa, at quasi expedita dicta deserunt. Obcaecati, temporibus.</p></div>

        </div>

    </div></div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- Footer -->
    <div data-rubyfooter></div>

    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script type="text/javascript" src="../libs/scripts/custom.js"></script> <!-- Page custom script -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
