<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">

    <!-- Title of page -->
    <title>TEST LAYER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper" style="overflow: hidden;">
    <div class="container">

        <!-- TITLE HEADING - begin -->
        <div class="title-head">
            <h1>TEST LAYER</h1>
        </div>
        <!-- TITLE HEADING - end -->



        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slider-preview {
                /*width: 300px;*/
                margin-left: auto; margin-right: auto;
            }

            .h1 {
                padding-bottom: 50px;
            }

            /* Title big */
            .title-big {
                font-family: "Raleway", sans-serif;
                font-weight: 100;
                font-size: 10em;
                line-height: 1.2em;
            }
        </style>

        <div class="slider-preview rs01"
            data-slider='{
                "isAutoInit"  : true,
                "fx"          : "line",
                "speed"       : 600,
                "width"       : 940,
                "height"      : 500,
                "widthSlide2"  : 0.8,
                "isKeyboard"  : true,
                "idBegin"     : 0,
                "isMask"      : false,

                "isNav"       : true,
                "isPag0"       : false,
                "isCap0"       : true,
                "isSlideshow0" : true,

                "imageback"    : { "pixelRatio": 2 },
                "pag0"         : { "type": "bullet" },
                "slideshow0"   : { "isHoverPause": true }
            }'>

            <div class="slide1" data-slide='{ "parallax": { "isScroll": false } }'>
                <a  class="rs01imgback"
                    href="foo-assets/pattern_2.svg"
                    data-imageback='{ "pixelRatio": 1.5 }'
                    >Focus</a>


                <!-- <div class="h1"
                    style="color: #fff; background-color: #000; padding-top: 20px; font-size: 50px; line-height: 50px"
                    data-animate-start='[
                        { "xy": "centerCenter" },
                        { "x": 100, "duration": 1000, "delay": 200 },
                        { "y": 100, "fx": "newspaperOut", "duration": 2000, "delay": 0 },
                        { "x": 300, "fx": "slideOneRightIn", "overflow": "hidden", "duration": 600, "delay": 2000 },
                        { "y": 300, "fx": "flipXIn", "overflow": "", "duration": 1000, "delay": 1000 },
                        { "x": 500, "duration": 700, "delay": 5000 }
                    ]'

                    data-parallax="4"
                    >This is LayerText</div> -->


                <div
                    class="rs01layeritem"
                    style="background-color: rgba(0,0,0,0.1);"
                    data-layer='{
                        "isMask" : false
                    }'
                    data-animate-start='[
                        { "xy": "center" },
                        { "x": "100%{p} - 100%", "duration": 10000 }
                    ]'
                    data-animate-end='null'>

                    <div class="title-big rs01layeritem"
                        data-animate-start='[
                            { "y": 0 },
                            { "y": -200, "fx": "flipXIn", "duration": 10000 }
                        ]'
                        >MIGHTY</div>
                </div>



                <!-- <div
                    class="rs01layeritem"
                    style="background-color: rgba(0,0,0,0.1);"
                    data-layer='{
                        "isMask" : false
                    }'
                    data-animate-start='[
                        { "xy": "center" },
                        { "y": "100%{p} - 100%", "duration": 10000 }
                    ]'>
                    <span class="title-big">MIGHTY</span>
                </div> -->

            </div>




            <!-- LAYER IFRAME LAZY -->
            <div>
                <a class="rs01imgback" href="imgs/vietnam-large2.jpg">vietnam</a>
            </div>

        </div>
        <!-- SLIDER PREVIEW - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <div class="container">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, fugiat quae quasi accusantium a architecto similique, perferendis reiciendis beatae dolorum suscipit excepturi odit dolores dolore, sequi recusandae voluptatum ad aliquid.</span><span>Pariatur quasi optio laborum. Ab aliquam deleniti eos, omnis voluptas molestias veritatis alias, optio tempore quidem nesciunt in maiores fugiat beatae quae doloremque architecto amet natus ea vitae maxime dolor.</span></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi architecto, repellendus blanditiis tempore obcaecati, aspernatur velit animi aliquid, fugit eius harum dicta odit. Qui atque dolore quia suscipit aut unde.</p>
        <p>Quod earum corrupti hic accusamus quam quia aspernatur et suscipit, culpa consequatur blanditiis, corporis alias ad. Natus dicta provident tenetur, eveniet voluptatem asperiores deleniti sunt? Praesentium quo voluptate, deserunt obcaecati.</p>
    </div>








    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
