<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">
    
    <!-- Title of page -->
    <title>TEST PARALLAX FOR LAYER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper" style="overflow: hidden;">
    <div class="container">

        <!-- TITLE HEADING - begin -->
        <div class="title-head">
            <h1>TEST PARALLAX FOR LAYER</h1>
        </div>
        <!-- TITLE HEADING - end -->

        

        <!-- SLIDER PREVIEW - begin -->
        <style>
            .slider-preview {
                /*width: 300px;*/
                margin-left: auto; margin-right: auto;
            }
        </style>

        <div class="slider-preview rs01 rs01timer-arcTop"
            data-slider='{
                "name"        : "slider1",
                "isAutoInit"  : true,
                "type" : "slider",
                "fx"          : "line",
                "speed"       : 600,
                "width"       : 940,
                "widthSlide2"  : 0.8,
                "isKeyboard"  : true,
                "idBegin"     : 0,
                "isMask"      : false,

                "isNav"       : true,
                "isPag0"       : false,
                "isCap0"       : true,
                "isSlideshow0" : true,

                "pag0"         : { "type": "bullet" },
                "slideshow0"   : { "isHoverPause": true },
                "delayUpdate" : 1000
            }'>

            <div class="slide1" data-slide='{ "isLayerParallax": true }'>
                <a class="rs01imgback" href="imgs/animal-focus-free1.jpg">Focus</a>




                <!-- <a  data-layer-animate='[{ "xy": "topOut" }, { "xy": "center", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 1</a>

                <a  data-layer-animate='[{ "xy": "rightOut" }, { "xy": "center", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 2</a>

                <a  data-layer-animate='[{ "xy": "bottomOut" }, { "xy": "center", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 3</a>

                <a  data-layer-animate='[{ "xy": "leftOut" }, { "xy": "center", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 4</a> -->



                
                <!-- <a  data-layer-animate='[{ "xy": "leftTop" }, { "xy": "rightTop", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 11</a>

                <a  data-layer-animate='[{ "xy": "rightTop" }, { "xy": "rightBottom", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 12</a>

                <a  data-layer-animate='[{ "xy": "rightBottom" }, { "xy": "leftBottom", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 13</a>

                <a  data-layer-animate='[{ "xy": "leftBottom" }, { "xy": "leftTop", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 14</a> -->




                <!-- <a  data-layer-animate='[{ "xy": "centerTop" }, { "xy": "rightCenter", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 21</a>

                <a  data-layer-animate='[{ "xy": "rightCenter" }, { "xy": "centerBottom", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 22</a>

                <a  data-layer-animate='[{ "xy": "centerBottom" }, { "xy": "leftCenter", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 23</a>

                <a  data-layer-animate='[{ "xy": "leftCenter" }, { "xy": "centerTop", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 24</a> -->


                <a  data-layer-animate='[{ "xy": "topOut" }, { "xy": "center", "duration": 10000 }]'
                    data-layer='{}'
                    data-layer-parallax='{
                        "isParallax" : true,
                        "radiusLevel" : 1,
                        "radius" : 50,
                        "direction" : "reverse"
                    }'

                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 25</a>

            </div>



            <a class="rs01imgback" href="imgs/animal-focus-free2.jpg">animal 2</a>
            <!-- <a class="rs01imgback" href="imgs/animal-focus-free3.jpg">animal 3</a>
            <a class="rs01imgback" href="imgs/animal-focus-free4.jpg">animal 4</a>
            <a class="rs01imgback" href="imgs/animal-focus-free5.jpg">animal 5</a>
            <a class="rs01imgback" href="imgs/animal-focus-free6.jpg">animal 6</a> -->



        </div>
        <!-- SLIDER PREVIEW - end -->

    
    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->

    <a class="btn" data-rubyslider-api='{ "name": "next", "markup": "slider1" }'>Di toi Slide ke tiep</a>







    <div class="container">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, fugiat quae quasi accusantium a architecto similique, perferendis reiciendis beatae dolorum suscipit excepturi odit dolores dolore, sequi recusandae voluptatum ad aliquid.</span><span>Pariatur quasi optio laborum. Ab aliquam deleniti eos, omnis voluptas molestias veritatis alias, optio tempore quidem nesciunt in maiores fugiat beatae quae doloremque architecto amet natus ea vitae maxime dolor.</span></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi architecto, repellendus blanditiis tempore obcaecati, aspernatur velit animi aliquid, fugit eius harum dicta odit. Qui atque dolore quia suscipit aut unde.</p>
        <p>Quod earum corrupti hic accusamus quam quia aspernatur et suscipit, culpa consequatur blanditiis, corporis alias ad. Natus dicta provident tenetur, eveniet voluptatem asperiores deleniti sunt? Praesentium quo voluptate, deserunt obcaecati.</p>
    </div>




    <div class="container">
    <div class="row">
        
        <!-- DUMMY TEXT -->
        <div class="col6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sequi, veniam quibusdam soluta numquam similique quo eveniet repellat, nesciunt facilis quis! Et eligendi est, pariatur accusamus ducimus ea hic consequuntur!</p>
            <p>Accusantium tenetur dolorem tempore doloribus, in quo dignissimos facere magnam voluptate, aut quas, inventore! Inventore vel, unde ipsum. Expedita dolorum perspiciatis possimus ipsam eum tempore corporis fugiat sunt amet nostrum.</p>
            <p>Provident numquam aliquam totam alias repudiandae quo facere ducimus reiciendis natus corporis amet, accusamus veniam, nulla quis deserunt laboriosam doloremque qui, quas libero beatae consequuntur error, minima. Nam, blanditiis, explicabo?</p>
        </div>

        

        <!-- SLIDER PREVIEW - begin -->
        <div class="slider-preview rs01 rs01timer-arcTop col6"
            data-slider='{
                "name"        : "slider1",
                "isAutoInit"  : true,
                "type" : "slider",
                "fx"          : "line",
                "speed"       : 600,
                "width"       : 940,
                "widthSlide2"  : 0.8,
                "isKeyboard"  : true,
                "idBegin"     : 0,
                "isNav"       : true
            }'>

            <div class="slide1" data-slide='{ "isLayerParallax": true }'>
                <a class="rs01imgback" href="imgs/animal-focus-free1.jpg">Focus</a>

                <!-- <a  data-layer-animate='[{ "xy": "centerTop" }, { "xy": "rightCenter", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 21</a>

                <a  data-layer-animate='[{ "xy": "rightCenter" }, { "xy": "centerBottom", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 22</a>

                <a  data-layer-animate='[{ "xy": "centerBottom" }, { "xy": "leftCenter", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 23</a>

                <a  data-layer-animate='[{ "xy": "leftCenter" }, { "xy": "centerTop", "duration": 10000 }]'
                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 24</a> -->


                <a  data-layer-animate='[{ "xy": "topOut" }, { "xy": "center", "duration": 10000 }]'
                    data-layer='{}'
                    data-layer-parallax='{
                        "isParallax" : true,
                        "radiusLevel" : 5,
                        "radius" : null,
                        "direction" : "same"
                    }'

                    style="padding: 20px; background-color: #444; color: #fff;"
                    >Layer 25</a>
            </div>

            <a class="rs01imgback" href="imgs/animal-focus-free2.jpg">animal 2</a>

        </div>
        <!-- SLIDER PREVIEW - end -->


    </div>
    </div>





    <div class="container" style="margin-top: 50px;">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quibusdam dignissimos recusandae labore distinctio itaque mollitia iusto molestiae quos libero, laboriosam quasi minus architecto dolorum! Nihil, totam nemo rerum facilis!</p>
        <p>Dolores a itaque aperiam molestiae illum iure, debitis expedita, adipisci similique molestias, dolorum iste libero sit? Totam deserunt, quas voluptatem, explicabo nam dignissimos nemo dolore laborum magni et ipsum omnis!</p>
        <p>Commodi hic alias delectus maiores iure nostrum ratione dolores nihil debitis inventore aperiam nam eos magni deleniti facere, unde, excepturi non, officiis rem laudantium officia atque ipsa ad nemo! Deleniti.</p>
        <p>Et delectus deserunt labore totam consectetur earum tempore enim sapiente ratione neque adipisci nemo, similique obcaecati temporibus maiores, eaque incidunt voluptatum assumenda quo at. Aut at aliquid, repellat temporibus maxime.</p>
        <p>Dolorum ducimus cupiditate totam adipisci iste libero cum, nihil magnam. Reprehenderit nam sit veniam iusto maiores vitae optio voluptate quis odio esse enim ut magnam ab sequi, nostrum dicta, vero.</p>
        <p>Tempora quisquam quaerat neque quo nobis, eveniet ad fuga, quos, eligendi soluta amet rem! Sapiente esse, ratione repudiandae suscipit nemo fugit ipsam maxime nisi, quos, velit possimus laboriosam rerum voluptate!</p>
        <p>Modi, earum iure molestiae quis voluptate maxime, sapiente doloribus fugit est accusamus illum amet distinctio optio. Cumque dicta cum nemo explicabo architecto earum sit. Quae hic unde, dicta numquam dolor.</p>
        <p>Nemo accusamus dolores aut quam soluta maxime placeat. Non animi odit numquam, accusantium recusandae dignissimos itaque nemo commodi repudiandae enim obcaecati cum harum neque. Aspernatur, magni? Quod sapiente adipisci iste.</p>
        <p>Corporis quisquam repudiandae quis alias, voluptatibus neque totam culpa fuga iure quaerat magnam excepturi vitae in ducimus impedit assumenda optio. Eaque incidunt illum, optio aliquid, odio cum fugiat dolorum est?</p>
        <p>Et doloribus expedita distinctio, minima reprehenderit reiciendis! Quod enim optio velit dolorem, ea blanditiis odit neque, tempora commodi quo eaque perferendis deserunt quisquam qui non reprehenderit natus facilis voluptate aliquam!</p>
    </div>








    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>