<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">

    <!-- Title of page -->
    <title>DETECT BROWSER | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>

    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- SLIDER PREVIEW - begin -->
        <div class="rs01" style="display: none;">
            <a class="rs01imgback" href="imgs/vietnam1.jpg">vietnam 1</a>
        </div>
        <!-- SLIDER PREVIEW - end -->



        <!-- INFORMATION - begin -->
        <h2>+ Browser : <span class="browser" style="color: blue;"></span></h2>
        <h2>+ Is mobile : <span class="is-mobile" style="color: red;"></span></h2>
        <!-- INFORMATION - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script type="text/javascript" src="../libs/scripts/custom.js"></script> <!-- Page custom script -->


    <script type="text/javascript">
    jQuery(document).ready(function($) {

        // Initialize ruby
        var ruby = $('.rs01').rubyslider(),
            va   = ruby.one.va;

        // Detect browser
        var $browser = $('.browser');
        $browser.length && $browser.text(ruby.browser());

        // Detect is mobile browser
        var $isMobile = $('.is-mobile');
        $isMobile.length && $isMobile.text(ruby.isMobile());
    });
    </script>
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
