<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Best Slider - Tabs premium jQuery plugin">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, transform, transition, lazyload, fullscreen, revolution slider, master slider, layer slider">
    <meta name="author" content="Ruby Slider - HaiBach">

    <!-- Title of page -->
    <title>SIMPLEST LAYOUT | RUBY SLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubyslider.css">


</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- SLIDER PREVIEW - begin -->
        <div class="slider-preview rs01"
            data-slider='{
                "fx"    : "cssOne",
                "speed" : 800,
                "width" : 940
            }'>

            <div data-slide='{ "isSwipe": false }' data-link="http://haibach.net" data-link-target="">
                <a class="rs01imgback" href="imgs/vietnam1.jpg">vietnam 1</a>
            </div>

            <a class="rs01imgback" href="imgs/vietnam2.jpg">vietnam 2</a>
            <a class="rs01imgback" href="imgs/vietnam3.jpg">vietnam 3</a>
            <a class="rs01imgback" href="imgs/vietnam4.jpg">vietnam 4</a>
            <a class="rs01imgback" href="imgs/vietnam5.jpg">vietnam 5</a>

        </div>
        <!-- SLIDER PREVIEW - end -->




        <br><br><br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestiae nihil iusto enim, nisi dicta incidunt fuga quis, quisquam pariatur ipsam soluta labore vel quia dignissimos sapiente odio quo laboriosam.</p>
        <p>Blanditiis deserunt voluptate eum totam tempora earum rerum at, explicabo, illum tenetur animi possimus sequi, atque placeat dolores eius expedita! Numquam laboriosam aliquam vitae modi non aspernatur maxime libero dolorem.</p>
        <p>Atque voluptate aspernatur ipsam ex! Nulla a ipsum temporibus sed ex cum, consectetur velit sequi tempore reprehenderit inventore aliquam libero sapiente iste autem repudiandae quae qui et veniam nemo. Non.</p>
        <p>Deleniti pariatur, quia ducimus alias officia sed. Fugit pariatur perspiciatis odit cupiditate nisi. Quos, qui! Ullam commodi vero porro beatae ad neque sunt, fugiat, iusto illo fuga, nihil numquam pariatur.</p>
        <p>Fugiat rerum aliquam repudiandae qui, earum placeat, at consequuntur incidunt, eveniet dolores blanditiis ipsum, vitae voluptates. Molestias quia expedita ut, tempore, repellendus unde itaque sapiente praesentium voluptas corrupti provident dignissimos.</p>
        <p>Ab mollitia minima provident eligendi, porro aspernatur quo. Soluta eos, illo sed perferendis quasi provident mollitia aliquid inventore cumque facilis necessitatibus adipisci nemo nisi voluptates cupiditate eaque dolorum rerum assumenda.</p>
        <p>Aperiam amet nisi voluptatum, iure odio tempora cupiditate reiciendis quidem dolorem illum, possimus velit cum, quibusdam blanditiis quisquam consequuntur dolore. Odio distinctio eius, consequuntur cum necessitatibus sequi, aspernatur at quo!</p>
        <p>Ipsa repellat explicabo distinctio iste qui ad earum, voluptatibus cupiditate! Corrupti a ipsa dignissimos, beatae quod et nostrum, harum repellat! Inventore at ratione repudiandae tempore hic, molestias perferendis unde adipisci.</p>
        <p>Voluptas sit quidem animi officia perferendis enim ut ea facere iusto, dolorem illo blanditiis eligendi magni dolores itaque molestiae repellendus nihil beatae. Rerum sed in nam praesentium, fuga illum exercitationem.</p>
        <p>Repudiandae nihil enim voluptates minus eius asperiores? Alias accusamus, quo asperiores, aliquam autem ex possimus eius rem delectus fugiat et quia temporibus cumque esse. Minima nulla reiciendis earum ipsa. Voluptas.</p>

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- Script - begin
    ======================================================================== -->
    <script type="text/javascript" src="../libs/scripts/jquery-last.min.js"></script>
    <script type="text/javascript" src="../libs/scripts/ruby01.js"></script>
    <script type="text/javascript" src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script type="text/javascript" src="../ruby/rubyslider.js"></script> <!-- RubySlider Plugin -->
    <script type="text/javascript" src="../libs/scripts/custom.js"></script> <!-- Page custom script -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>
