<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>SLIDER GALLERY ::CODESLIDER::</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.css">
    <link rel="stylesheet" href="../code/codeslider.css">

    <!-- CSS Embbed -->
    <style>
        
        .cs-viewport {
            background-color: transparent;
        }

    </style>


    
    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->
    
</head>
<body>


    <!-- Header - begin
    ============================================================== -->
    <div class=" wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo no-pa" href="index.html">
            <img src="imgs/logo_hl.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small">
            <ul class="menu">

                <li>
                    <a href="#">Demo</a>
                    <ul class="menu">
                        <li><a href="port.gallery.html">Slider Layer</a></li>
                        <li><a href="port.gallery.expand.html">Slider Carousel</a></li>
                        <li><a href="port.single.html">Slider Gallery</a></li>
                        <li><a href="port.single.html">Slider Simple</a></li>
                        <li><a href="port.single.html">Slider Background</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Elements</a>
                </li>

                <li>
                    <a href="#">Skins</a>
                </li>

                <li>
                    <a href="contact.html">Buy Now!</a>
                </li>
            </ul>
            
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->






    <!-- Breadcrumbs - begin
    ============================================================== -->
    <div class="wrapper breadcrumbs">
    <div class="container">
        
        <div class="page-title">
            <h2 class="strong">DEMO</h2>
            <h5>.SLIDER GALLERY</h5>
        </div>
                
        <ul class="bc-nav">
            <li class="i-home"><a href="#">Home</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Slide gallery</a></li>
        </ul>
    </div>
    </div>
    <!-- Breadcrumbs - end
    ============================================================== -->






    <!-- Image slider - begin
    ============================================================== -->
    <div class="wrapper dark">
    <div class="container">

        <div class="cs" data-slider="type-one fx-carousel response-776 speed-400 delay-8000 isPag-off isNav-off isPlayauto-off isLoop-off">
    
            <ul class="cs-canvas">
                <li>
                    <img src="imgs/portfolio/single_img1.jpg" alt="[image]">
                </li>
                <li>
                    <img src="imgs/portfolio/single_img2.jpg" alt="[image]">
                </li>
                <li>
                    <img src="imgs/portfolio/single_img3.jpg" alt="[image]">
                </li>
                <li>
                    <img src="imgs/portfolio/single_img4.jpg" alt="[image]">
                </li>
            </ul>
            
        </div>
    
    </div>
    </div>
    <!-- Image slider - end
    ============================================================== -->




    
    <!-- Portfolio Single - begin
    ============================================================== -->
    <div class="wrapper">
    <div class="container">
    <div class="row">

        
        <!-- Content - begin
        .......................................................... -->
        <div class="span8 ma-b-50">

            <!-- <h3>Feature</h3> -->
            
            <p>Nullam porta dignissim nisl, sit amet accumsan dui malesuada ac. Integer elit elit, venenatis euismod semper accumsan, laoreet sed tellus. Sed enim leo, accumsan quis tincidunt sit amet, ornare eu mi. Vivamus quam risus, ornare eu aliquam ac, tincidunt vitae augue. Donec magna nisl, porta sit amet molestie id, tincidunt a lectus. Donec sit amet ligula mi. Fusce elit mauris, ultricies id malesuada vitae, malesuada id ante.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quod quos nihil reprehenderit doloremque hic minima ipsam maxime laboriosam animi dolorum veritatis! Consectetur odio perspiciatis temporibus laboriosam quam illum tenetur.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, similique, sapiente, ad, autem iste iure harum voluptates dolorem asperiores exercitationem dignissimos rem. Soluta, eum, dignissimos ipsa minima est deserunt dicta.</p>
            
            <!-- <a class="btn">Visit Website</a> -->

        </div>
        <!-- Content - end
        .......................................................... -->


        
        <!-- Sidebar - begin
        .......................................................... -->
        <aside class="span4 ma-b-50">

            <div class="accordion tag" data-accordion="show-first">
                <section>

                    <h6 class="muted">Control</h6>
                    <div>
                        <table class="text-small muted ma-b-50">
                            <tr>
                                <td>Clients</td>
                                <td>PhotoStudio</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>20/02/2013</td>
                            </tr>
                            <tr>
                                <td>App</td>
                                <td>Adobe Photoshop</td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td>
                                    <a href="#">Photo</a>,
                                    <a href="#">Design</a>,
                                    <a href="#">Light</a>,
                                    <a href="#">Nature</a>,
                                    <a href="#">Bird</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                        
                </section>
            </div>
            
        </aside>
        <!-- Sidebar - end
        .......................................................... -->
    
    </div>
    </div>    
    </div>
    <!-- Portfolio Single - end
    ============================================================== -->



    
    
    <!-- Footer - begin
    ============================================================== -->
    <div class="wrapper footer bo-t">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; 2013 Thystudio. All Rights Reserved.</p>
        </section>
        
        <!-- Social -->
        <section class="social">
            
            <div class="items">
                <a class="i-twitter" href="#" title="Twitter"></a>
                <a class="i-facebook" href="#" title="Facebook"></a>
            </div>

        </section>

    </div>
    </div>
    <!-- Footer - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->


    <!--[if lte IE 8]>
        <script src="../libs/scripts/jquery.selectivizr.min.js"></script>
    <![endif]-->




    <script type="text/javascript">

        jQuery(document).ready(function($) {
            $('.cs').codeslider();
        });
        
    </script>

    <!-- Script - end
    ============================================================== -->

</body>
</html>