<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>SLIDER RECENT | CODESLIDER</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.css">
    <link rel="stylesheet" href="../code/codeslider.css">

    <!-- CSS Embbed -->
    <style>
        
        .cs-viewport {
            background-color: transparent;
        }


        .show-full .meta { background-color: #fff; }
        .dark .show-full .meta > .title { color: #222; }
        .dark .show-full .meta > .title:hover { color: #fa0; }
        .dark .show-full .meta > .tags { color: #aaa; }

    </style>


    
    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->
    
</head>
<body>


    <!-- Header - begin
    ============================================================== -->
    <div class=" wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo no-pa" href="index.html">
            <img src="imgs/logo_hl.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small">
            <ul class="menu">

                <li>
                    <a href="#">Demo</a>
                    <ul class="menu">
                        <li><a href="port.gallery.html">Slider Layer</a></li>
                        <li><a href="port.gallery.expand.html">Slider Carousel</a></li>
                        <li><a href="port.single.html">Slider Gallery</a></li>
                        <li><a href="port.single.html">Slider Simple</a></li>
                        <li><a href="port.single.html">Slider Background</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Elements</a>
                </li>

                <li>
                    <a href="#">Skins</a>
                </li>

                <li>
                    <a href="contact.html">Buy Now!</a>
                </li>
            </ul>
            
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->






    <!-- Breadcrumbs - begin
    ============================================================== -->
    <div class="wrapper breadcrumbs">
    <div class="container">
        
        <div class="page-title">
            <h2 class="strong">DEMO</h2>
            <h5>.SLIDER RECENT</h5>
        </div>
                
        <ul class="bc-nav">
            <li class="i-home"><a href="#">Home</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Slide recent</a></li>
        </ul>
    </div>
    </div>
    <!-- Breadcrumbs - end
    ============================================================== -->






    <!-- Artwork recent - begin
    ============================================================== -->
    <div class="wrapper dark">
    <div class="container">
        
        <!-- Title -->
        <header class="ma-t-50 ma-b-100 text-center">
            <h1 class="bold no-ma">RECENT ARTWORK</h1>
            <h4>Some lines to description</h4>
        </header>




        <!-- Slider multi - begin -->
        <div class="cs" data-slider="type-multi delay-5000 isPag-off isNav-off isSlideshow-off isLoop-off">

            <ul class="cs-canvas show-full row-small items">
                
                <!-- Item 1 - begin -->
                <li class="span3">

                    <figure class="thumbnail">  
                        <img src="imgs/portfolio/port1.jpg" alt="[image]">
                    </figure>
                    
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 1</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 1 - end -->

                
                <!-- Item 2 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port2.jpg" alt="[image]">
                    </figure>

                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 2</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 2 - end -->

                
                <!-- Item 3 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port3.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 3</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 3 - end -->

                
                <!-- Item 4 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port4.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 4</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 4 - end -->

                
                <!-- Item 5 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port5.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 1</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 5 - end -->

        
                <!-- Item 6 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port6.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 2</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 6 - end -->

                
                <!-- Item 7 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port7.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 3</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 7 - end -->

                
                <!-- Item 8 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port8.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 4</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 8 - end -->

                
                <!-- Item 9 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port9.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 1</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 9 - end -->

                
                <!-- Item 10 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port10.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 2</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 10 - end -->

                
                <!-- Item 11 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port11.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 3</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 11 - end -->

                
                <!-- Item 12 - begin -->
                <li class="span3">

                    <figure class="thumbnail">
                        <img src="imgs/portfolio/port12.jpg" alt="[image]">
                    </figure>
                        
                    <a class="meta" href="#">
                        <p class="title">Portfolio Image 4</p>
                        <span class="tags">photography / graphic</span>
                    </a>
                </li>
                <!-- Item 12 - end -->

            </ul>
        </div>
        <!-- Slider multi - end -->
    
    </div>
    </div>
    <!-- Artwork recent - end
    ============================================================== -->




    
    <!-- Slider info - begin
    ============================================================== -->
    <div class="wrapper">
    <div class="container">
    <div class="row">

        
        <!-- Slider control - begin -->
        <div class="span12">

            <a class="btn small" href="#">Response</a>
            <a class="btn small" href="#">Effect</a>
            <a class="btn small" href="#">Slot</a>
            <a class="btn small" href="#">Timer</a>

            <div class="hr dash left ma-b-50"></div>
            
        </div>
        <!-- Slider control - end -->




        
        <!-- Content - begin
        .......................................................... -->
        <div class="span6 ma-b-50">
            
            <p>Nullam porta dignissim nisl, sit amet accumsan dui malesuada ac. Integer elit elit, venenatis euismod semper accumsan, laoreet sed tellus. Sed enim leo, accumsan quis tincidunt sit amet, ornare eu mi. Vivamus quam risus, ornare eu aliquam ac, tincidunt vitae augue. Donec magna nisl, porta sit amet molestie id, tincidunt a lectus. Donec sit amet ligula mi. Fusce elit mauris, ultricies id malesuada vitae, malesuada id ante.</p>
        
        </div>


        <div class="span6 ma-b-50">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quod quos nihil reprehenderit doloremque hic minima ipsam maxime laboriosam animi dolorum veritatis! Consectetur odio perspiciatis temporibus laboriosam quam illum tenetur.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, similique, sapiente, ad, autem iste iure harum voluptates dolorem asperiores exercitationem dignissimos rem. Soluta, eum, dignissimos ipsa minima est deserunt dicta.</p>
            
        </div>
        <!-- Content - end
        .......................................................... -->

    
    </div>
    </div>    
    </div>
    <!-- Slider info - end
    ============================================================== -->



    
    
    <!-- Footer - begin
    ============================================================== -->
    <div class="wrapper footer bo-t">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; 2013 Thystudio. All Rights Reserved.</p>
        </section>
        
        <!-- Social -->
        <section class="social">
            
            <div class="items">
                <a class="i-twitter" href="#" title="Twitter"></a>
                <a class="i-facebook" href="#" title="Facebook"></a>
            </div>

        </section>

    </div>
    </div>
    <!-- Footer - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->


    <!--[if lte IE 8]>
        <script src="../libs/scripts/jquery.selectivizr.min.js"></script>
    <![endif]-->

    <!-- Script - end
    ============================================================== -->

</body>
</html>