<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>OVERVIEW | CODETABS</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.tabs.css">
    <link rel="stylesheet" href="../code/cs.tabs.css">
    <link rel="stylesheet" href="../code/animate.short.css">


    <!-- CSS embed -->
    <style>

        /* Theme */
        .menu-wide li > a {
            padding-left: 30px; padding-right: 30px;
        }
        .zone-pattern {
            background-color: #f2f2f2;
        }
        .pa-30 {
            padding-top: 30px; padding-bottom: 30px;
        }

        /* Title heading */
        .title-head > * {
            margin-bottom: 0;
            color: #0cf;
            text-align: center;
        }


        /* Title big */
        .title-big {
            overflow-y: hidden;
            height: 50px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 50px;

            font-family: 'Raleway', sans-serif;
            font-size: 65px;
            font-weight: 100;
            line-height: 1em;
            color: #ddd;
            text-align: center;
        }
        @media only screen and (min-width: 1px) and (max-width: 767px) {
            .title-big {
                height: 32px;
                font-size: 40px;
                font-weight: 200px;
            }

            .tab-desc { display: none; }
        }

    </style>



    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->
    
</head>
<body>


    <!-- Header - begin
    ============================================================== -->
    <div class="wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo" href="#" data-mScale="85">
            <img src="../libs/imgs/logo_tabs.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small menu-wide">
            <ul class="menu">

                <li>
                    <a href="#">Templates</a>
                    <ul class="menu">
                        
                        <li>
                            <a href="#">Effects</a>
                            <ul class="menu">
                                
                                <li><a href="#">CSS3 One effect</a></li>
                                <li><a href="#">CSS3 In/Out effect</a></li>
                                <li><a href="#">Slide classic effect</a></li>
                                <li><a href="#">Fade classic effect</a></li>
                                <li><a href="#">Control animation</a></li>
                                <li><a href="#">Random effects</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Responsive</a>
                            <ul class="menu">
                                
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Swipe tab</a></li>

                            </ul>
                        </li>
                        
                        <li>
                            <a href="#">Layout</a>
                            <ul class="menu">
                                
                                <li><a href="#">Tabs vertical</a></li>
                                <li><a href="#">Markup outside</a></li>
                                <li><a href="#">Tabs fullwidth</a></li>
                                
                                <li><a href="#">Tabs nested</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Styles</a>
                            <ul class="menu">
                                
                                <li><a href="#">Flat</a></li>
                                <li><a href="#">Flatbox</a></li>
                                <li><a href="#">underline</a></li>
                                <li><a href="#">Pill</a></li>
                                <li><a href="#">classic</a></li>

                                <li><a href="#">Flat dark</a></li>
                                <li><a href="#">Flatbox dark</a></li>
                                <li><a href="#">underline dark</a></li>
                                <li><a href="#">Pill dark</a></li>
                                <li><a href="#">classic dark</a></li>
                                
                                <li><a href="#">Tabs sizes</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Positions</a>
                            <ul class="menu">
                                
                                <li><a href="#">Horizontal top left</a></li>
                                <li><a href="#">Horizontal top center</a></li>
                                <li><a href="#">Horizontal top right</a></li>
                                <li><a href="#">Horizontal bottom left</a></li>
                                <li><a href="#">Horizontal bottom center</a></li>
                                <li><a href="#">Horizontal bottom right</a></li>

                                <li><a href="#">Vertical left top</a></li>
                                <li><a href="#">Vertical left center</a></li>
                                <li><a href="#">Vertical left bottom</a></li>
                                <li><a href="#">Vertical right top</a></li>
                                <li><a href="#">Vertical right center</a></li>
                                <li><a href="#">Vertical right bottom</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Slideshow</a>
                            <ul class="menu">
                                
                                <li><a href="#">Arc timer</a></li>
                                <li><a href="#">Bar timer</a></li>
                                <li><a href="#">Number timer</a></li>
                                <li><a href="#">Timer without playpause</a></li>
                                <li><a href="#">Slideshow only</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">APIs</a>
                            <ul class="menu right">
                                
                                <li><a href="#">Add/Remove tab</a></li>
                                <li><a href="#">Callback events</a></li>

                            </ul>
                        </li>

                    </ul>
                </li>

                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Buy now!</a></li>

            </ul>
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->






    <!-- Breadcrumbs - begin
    ============================================================== -->
    <div class="pa-30 breadcrumbs">
    <div class="container">
        
        <div class="page-title">
            <h2>tabs vertical</h2>
        </div>
                
        <ul class="bc-nav">
            <li><a href="#">Template</a></li>
            <li><a href="#">Tabs</a></li>
        </ul>
    </div>
    </div>
    <!-- Breadcrumbs - end
    ============================================================== -->




    <!-- HEADING - begin
    ============================================================== -->
    <div class="pa-30 zone-pattern">
    <div class="container">
        
        <div class="title-head">
            <h1 class="">TABLIST MARKUP OUTSIDE</h1>
        </div>

    </div>
    </div>
    <!-- HEADING - end
    ============================================================== -->






    <!-- TABS SECTION - begin
    ============================================================== -->
    <div class="pa-t-50 pa-b-100">
    <div class="container">
    <div class="row">

        <!-- TABLIST MARKUP OUTSIDE - begin -->
        <div class="span3 ct-classic">
            <div class="cs-pag" data-slider="name-1"></div>
        </div>
        <!-- TABLIST MARKUP OUTSIDE - end -->




        <!-- TAB FLATBOX VERTICAL - begin -->
        <div class="cs ct-classic span9" data-slider="
            name-1 layout-dot speed-600 margin-20
            pag-{ type: tab, dirs: ver, pos: top, sizeAuto: full, wMinToHor: 460 }
            ">

            <div data-slide="fxIn-rotateLeftIn fxOut-rotateRightOut">
                <div class="cs-pagitem">OVERVIEW
                    <br><small class="tab-desc">Feature in Codeslider</small>
                </div>

                <div>
                    <!-- <h3>This is title of paragraph 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, possimus, suscipit, non voluptatibus veniam quia voluptatum quidem sit adipisci nesciunt temporibus laboriosam pariatur dolore dicta reiciendis voluptate sapiente aspernatur iste.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, esse, fugit quibusdam obcaecati aspernatur odit eius illum laudantium est doloribus? Impedit natus accusantium eum officiis nisi quod maiores facilis ducimus.</p> -->

                    <h5 class="strong">JOB DESCRIPTION:</h5>
                    <p>Senior Software Engineer-Web developer works with members of the development team and is responsible for the design, development, and implementation of software applications and web applications.</p>
                    <ul class="list">
                        <li>Aliquam suscipit lorem et porta volutpat.</li>
                        <li>Ligula nisl bibendum lorem sed volutpat libero diam at diam. </li>
                        <li>Duis tincidunt est sem.</li>
                    </ul>
                    <br>
                    
                    <h5 class="strong">JOB REQUIRMENT:</h5>
                    <ul class="list">
                        <li>Donec ullamcorper metus a imperdiet lacinia nibh felis sollicitudin felis.</li>
                        <li>Nunc sem erat, commodo quis ultricies eu, dictum at nulla.</li>
                        <li>Donec ac feugiat libero. </li>
                        <li>Suspendisse faucibus, leo sit amet vehicula cursus, ante augue faucibus arcu</li>
                    </ul>
                    <br>
                    
                    <h5 class="strong">NON_TECHNICAL SKILLS:</h5>
                    <ul class="list">
                        <li>Donec ullamcorper metus a imperdiet lacinia nibh felis sollicitudin felis.</li>
                        <li>Nunc sem erat, commodo quis ultricies eu, dictum at nulla.</li>
                        <li>Donec ac feugiat libero. </li>
                        <li>Suspendisse faucibus, leo sit amet vehicula cursus, ante augue faucibus arcu</li>
                    </ul>
                    <br>
                        
                    <button class="btn">Apply &rarr;</button>
                </div>
            </div>

            <div data-slide="fxIn-pushIn fxOut-magic">
                <div class="cs-pagitem">TEMPLATES
                    <br><small class="tab-desc">More than 30 templates</small>
                </div>

                <div>
                    <h3>This is title of paragraph 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, possimus, suscipit, non voluptatibus veniam quia voluptatum quidem sit adipisci nesciunt temporibus laboriosam pariatur dolore dicta reiciendis voluptate sapiente aspernatur iste.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, non dolor esse dolorum reprehenderit quisquam hic! Velit, ipsa, placeat provident reprehenderit saepe libero exercitationem at amet sunt error facere vero.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed beatae fuga possimus iusto voluptatibus expedita. Possimus, animi, porro accusantium nam iste alias? Ipsa, hic incidunt dolorum magnam aliquid iste!</p>
                </div>
            </div>

            <div data-slide="fxIn-tinUpIn fxOut-holeOut">
                <div class="cs-pagitem">VIDEO
                    <br><small class="tab-desc">Support image preview</small>
                </div>

                <div>
                    <h3>This is title of paragraph 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, possimus, suscipit, non voluptatibus veniam quia voluptatum quidem sit adipisci nesciunt temporibus laboriosam pariatur dolore dicta reiciendis voluptate sapiente aspernatur iste.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, quam, dignissimos architecto debitis suscipit iure ipsa eum totam quae doloremque possimus nam fuga inventore. Omnis, eum molestiae amet fugiat mollitia.</p>
                    <p>Quibusdam, temporibus, atque, cupiditate asperiores commodi voluptates sint non culpa eligendi aut animi dicta minus enim impedit laudantium natus corporis reiciendis ex ea quia nam sequi recusandae amet eum dolor?</p>
                    <p>Recusandae, sed quam cumque esse maiores id voluptatibus totam. Adipisci, repudiandae, reiciendis, ab molestiae aliquid perspiciatis dignissimos unde odio sint nam ratione doloremque in illo fugiat repellat sunt quos vitae.</p>
                </div>
            </div>
        </div>
        <!-- TAB FLATBOX HORIZONTAL - end -->

    
    </div>
    </div>
    </div>
    <!-- TABS SECTION - end
    ============================================================== -->



    <!-- <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, aut, qui, nisi quidem omnis natus corporis cumque quos doloremque necessitatibus assumenda sunt beatae obcaecati at deserunt dolor accusantium consequatur hic.</p>
        <p>Sint, iure, nostrum, vitae repellendus excepturi accusamus officia a omnis officiis iusto est nulla consequatur voluptas deleniti quam hic dolorem atque possimus expedita mollitia tempora neque vel. Rerum, laborum, quibusdam.</p>
        <p>Cumque, voluptate ipsam a possimus doloribus provident quaerat repellendus nemo cupiditate itaque optio excepturi deserunt obcaecati quam doloremque vel maxime aspernatur culpa accusamus suscipit quibusdam qui blanditiis numquam facilis molestiae.</p>
        <p>Et, vero, esse, facilis labore temporibus odio cupiditate repellendus veritatis vel officiis deleniti dolorem possimus quisquam. Laboriosam, error, doloribus, eveniet veniam quidem atque blanditiis soluta distinctio itaque exercitationem ipsa corporis.</p>
        <p>Fugiat laboriosam suscipit quis sapiente. Dolor, suscipit, aut, veniam fugit asperiores maxime nesciunt aspernatur iusto omnis tempore laborum eaque ipsam repellendus sunt deleniti delectus quasi soluta alias rerum nobis. Perspiciatis!</p>
        <p>Ex, facere, excepturi amet laboriosam vero voluptatibus sint repellat consequatur fuga nam maiores modi doloribus fugit aperiam unde earum optio impedit numquam iusto libero itaque commodi ab quod dolorem perspiciatis.</p>
        <p>Voluptates, distinctio, perspiciatis, pariatur totam dolorem iusto nobis consequatur sequi laudantium ipsam quam reprehenderit sed ab illo tenetur provident corrupti! Repudiandae, nostrum distinctio cumque molestias quam veniam asperiores officiis incidunt?</p>
        <p>Eligendi, deserunt, quod beatae ut tempore deleniti distinctio quam amet asperiores quas dignissimos dicta optio ab eum quibusdam eveniet error excepturi ullam molestiae aut at iste iusto ex! Est, laborum!</p>
        <p>Alias, fugiat corporis deserunt ipsa. Enim, recusandae, inventore, nesciunt, earum nam velit optio possimus quibusdam deserunt asperiores laborum consequuntur aliquid soluta tempora fugiat ullam doloremque cupiditate reiciendis nostrum labore rerum!</p>
        <p>Alias, laudantium, modi, reiciendis, quasi quidem corporis atque nesciunt natus quos est aperiam neque earum dolor expedita vitae minima officiis in dolorum! Iste, quasi, placeat delectus nisi velit laudantium possimus.</p>
        <p>Id, molestias, optio odio iste nobis recusandae illum obcaecati ratione aspernatur hic autem quidem perspiciatis officia numquam deleniti! Nisi sunt quam reprehenderit quaerat magnam. Voluptas, nisi vero tenetur unde cumque!</p>
        <p>Sed, earum, veritatis quisquam facere impedit fugit vitae id laboriosam nam doloribus perferendis numquam soluta accusamus quas modi obcaecati fugiat praesentium ducimus neque doloremque vel qui nobis aperiam voluptatum quos.</p>
        <p>Soluta, odio, temporibus saepe nobis quos ipsum et quae neque magni autem necessitatibus asperiores facilis veritatis recusandae velit. Recusandae, eveniet debitis perferendis ipsa at distinctio officia illum itaque aspernatur provident?</p>
        <p>Nulla, sit, doloribus nobis officia rem consectetur id ad sed accusantium. Id, consequuntur, magnam, ea pariatur aspernatur eligendi necessitatibus sed esse aut numquam amet officia fuga assumenda obcaecati eaque nobis!</p>
        <p>Ipsum, aperiam, dolorum, a, cum necessitatibus voluptatum adipisci nesciunt eum voluptates reprehenderit velit suscipit in labore numquam rerum consequatur quam accusamus hic aspernatur et amet aut cumque assumenda laborum officia.</p>
        <p>Voluptatibus, mollitia, quaerat similique fuga expedita in quidem repellat consequuntur perspiciatis impedit amet repudiandae corrupti quos perferendis tempore ut facilis. Libero, ut enim deserunt doloremque earum excepturi hic maiores reiciendis!</p>
        <p>Eos, voluptatibus, neque error ratione maxime facere numquam culpa ab libero mollitia aut dolor. At, praesentium, fuga hic iusto doloremque animi accusamus harum illo ducimus architecto sit a sint expedita.</p>
        <p>Quia, corporis, error eligendi possimus cupiditate debitis sunt reprehenderit delectus dignissimos maiores at cum saepe ab velit incidunt laboriosam soluta veritatis adipisci labore vitae. Officia, consequatur numquam voluptatibus perspiciatis facilis.</p>
        <p>Quibusdam, est, id, perferendis, ipsum odit nam laborum expedita amet at quis architecto quaerat quidem nemo eaque magni ipsa quasi facilis deserunt eos natus rem corporis sequi velit soluta libero!</p>
        <p>Perspiciatis, architecto, veniam labore dolorum doloremque asperiores mollitia quo suscipit consequuntur nulla ullam cumque alias inventore nostrum animi. Esse, assumenda voluptatibus impedit odio eos! Quam porro repellendus sunt veniam aut.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, necessitatibus, ratione, expedita ipsa laudantium soluta quae ex suscipit consequuntur cum fuga temporibus? Id, molestias mollitia ullam reprehenderit eaque tenetur ad.</p>
        <p>Nesciunt, reiciendis magni veritatis sint magnam assumenda vitae doloribus blanditiis tempora mollitia vero tempore culpa cumque hic iure. Laudantium, dolorum, ducimus quia harum reiciendis neque autem quaerat est molestiae provident.</p>
        <p>Culpa, fuga, illo ducimus incidunt adipisci eaque veritatis voluptate tempora cumque iste libero cum blanditiis dolorem ea officiis voluptas dolor. Voluptatum, asperiores, ducimus iusto distinctio eligendi maxime dignissimos cupiditate at.</p>
        <p>Similique, consequuntur, quae, aliquid iste nesciunt aliquam praesentium culpa fugit animi a impedit blanditiis nobis esse provident repellendus atque eius tempora nemo sunt quaerat aut soluta dignissimos voluptatibus labore eum?</p>
        <p>Animi, corporis, id, architecto, nam voluptatibus necessitatibus quod aliquid repudiandae velit omnis autem quidem quibusdam hic ad facere perspiciatis nobis impedit libero eius quam deleniti odit beatae non. Quasi, nobis.</p>
        <p>Architecto, beatae, maiores, sed repudiandae perferendis asperiores fuga necessitatibus delectus porro earum aliquam repellat in. Nam asperiores officia tempore at quasi iste debitis. Placeat, repellat, ducimus officia harum voluptatum perferendis.</p>
        <p>Quaerat, rerum, eum assumenda architecto nemo possimus iste odit sit sunt repudiandae facere quidem distinctio iusto nobis saepe numquam quisquam. Architecto fuga placeat quisquam mollitia nostrum doloremque quam magni magnam!</p>
        <p>Cumque, numquam, odio, accusamus, eos recusandae praesentium magnam nesciunt commodi aperiam sapiente dolorem maiores labore ratione quidem nobis esse reiciendis. Voluptatum dignissimos itaque velit nam aspernatur at consequuntur! Molestiae, id?</p>
        <p>Quam, iure placeat maxime qui dignissimos reiciendis fugiat nisi tenetur quia culpa commodi libero corporis sapiente laboriosam consequuntur! Non, voluptatem nam doloribus nobis consequuntur harum labore officiis quasi neque assumenda.</p>
        <p>Fugiat, eos, quidem, quas quae atque sunt commodi perspiciatis doloremque minima culpa iure rem dolorem quo illo voluptatem itaque facere non dicta provident temporibus aspernatur harum asperiores praesentium. Eius, aliquid!</p>
        <p>Dolorem, fugit, distinctio, dicta magni minus qui nesciunt eveniet provident autem nisi doloribus eaque cupiditate sequi minima sapiente expedita dignissimos deserunt voluptatem. Quis, natus praesentium sint autem sit mollitia voluptatem.</p>
        <p>Optio, debitis, quas, repellendus, voluptatum voluptatibus porro magni cum libero commodi ad soluta quis similique ea suscipit officiis sint asperiores. Excepturi officiis delectus perferendis omnis nobis alias reprehenderit ut mollitia!</p>
        <p>Perspiciatis, id, cumque, reprehenderit eaque nobis nam quis magnam distinctio culpa blanditiis quas numquam rem consequuntur libero dicta. Pariatur, ex officiis nulla fugiat autem error dolor totam nesciunt. Illum, aspernatur.</p>
        <p>Eos, consectetur aut laboriosam reiciendis similique dolore quisquam soluta hic assumenda voluptas dolorem earum nihil ea quaerat sequi harum possimus! Illo, provident ipsum vel omnis at fuga porro cum a.</p>
        <p>Eaque, praesentium, explicabo quod optio natus tempore veritatis quam quibusdam nesciunt provident obcaecati ex magni. Laudantium, maiores ipsum autem voluptates animi vitae doloremque placeat soluta aliquid error labore sit ex.</p>
        <p>Sint, voluptatum, iste distinctio quis explicabo soluta vitae quibusdam ducimus saepe molestias voluptas vel facilis! Voluptas, provident, saepe, id dolorum nihil pariatur rerum cumque illum culpa explicabo perferendis obcaecati autem!</p>
        <p>Ea, consequatur, similique asperiores temporibus quia itaque expedita doloribus tenetur optio officiis. Facilis, vero, aut, debitis quod voluptate suscipit optio excepturi ut tenetur ad aliquam a voluptatum nemo saepe libero.</p>
        <p>Nemo, eligendi asperiores similique iure quos culpa eius? In, nam, deserunt, assumenda ipsam voluptate esse a recusandae soluta autem fugit perferendis distinctio maiores voluptatibus modi nostrum dolorum velit. Architecto, asperiores!</p>
        <p>Voluptatum, dolor ratione quo unde culpa ipsum dolorem distinctio eius ea explicabo beatae et facilis illo consequuntur sint quasi autem. Laboriosam, voluptatum non eaque quo quos inventore corporis ab sequi.</p>
        <p>Explicabo, quaerat doloremque excepturi quis nesciunt recusandae quibusdam quisquam? Quidem, aliquam, aperiam eius voluptas dignissimos distinctio iusto libero explicabo ullam reprehenderit laudantium enim illo ab sunt animi accusantium placeat ipsa!</p>
    </div> -->

    
    
    <!-- Footer - begin
    ============================================================== -->
    <div class="wrapper footer bo-t">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; 2014 Thystudio. All Rights Reserved.</p>
        </section>

    </div>
    </div>
    <!-- Footer - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->


    <script type="text/javascript">

        jQuery(document).ready(function($) {

            // Codeslider init
            $('.cs').codeslider();
        });

    </script>
    <!-- Script - end
    ============================================================== -->

</body>
</html>