<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>SWIPE BODY | CODETABS</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.tabs.css">
    <link rel="stylesheet" href="../code/cs.tabs.css">
    <link rel="stylesheet" href="../code/animate.short.css">


    <!-- CSS embed -->
    <style>
        
        /* Timer note */
        .note-timer             { position: relative; }
        .note-timer > img       { position: absolute; top: 60px; right: -80px; }

        @media only screen and (min-width: 1px) and (max-width: 767px) {
            .note-timer         { display: none; }
        }

    </style>



    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->
    
</head>
<body>


    <!-- Header - begin
    ============================================================== -->
    <div class="wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo" href="#" data-mScale="100">
            <img src="../libs/imgs/logo_tabs.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small menu-wide">
            <ul class="menu">

                <li>
                    <a href="#">Templates</a>
                    <ul class="menu">
                        
                        <li>
                            <a href="#">Effects</a>
                            <ul class="menu">
                                
                                <li><a href="#">CSS3 One effect</a></li>
                                <li><a href="#">CSS3 In/Out effect</a></li>
                                <li><a href="#">Slide classic effect</a></li>
                                <li><a href="#">Fade classic effect</a></li>
                                <li><a href="#">Control animation</a></li>
                                <li><a href="#">Random effects</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Responsive</a>
                            <ul class="menu">
                                
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Swipe tab</a></li>

                            </ul>
                        </li>
                        
                        <li>
                            <a href="#">Layout</a>
                            <ul class="menu">
                                
                                <li><a href="#">Tabs vertical</a></li>
                                <li><a href="#">Markup outside</a></li>
                                <li><a href="#">Tabs fullwidth</a></li>
                                
                                <li><a href="#">Tabs nested</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Styles</a>
                            <ul class="menu">
                                
                                <li><a href="#">Flat</a></li>
                                <li><a href="#">Flatbox</a></li>
                                <li><a href="#">underline</a></li>
                                <li><a href="#">Pill</a></li>
                                <li><a href="#">classic</a></li>

                                <li><a href="#">Flat dark</a></li>
                                <li><a href="#">Flatbox dark</a></li>
                                <li><a href="#">underline dark</a></li>
                                <li><a href="#">Pill dark</a></li>
                                <li><a href="#">classic dark</a></li>
                                
                                <li><a href="#">Tabs sizes</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Positions</a>
                            <ul class="menu">
                                
                                <li><a href="#">Horizontal top left</a></li>
                                <li><a href="#">Horizontal top center</a></li>
                                <li><a href="#">Horizontal top right</a></li>
                                <li><a href="#">Horizontal bottom left</a></li>
                                <li><a href="#">Horizontal bottom center</a></li>
                                <li><a href="#">Horizontal bottom right</a></li>

                                <li><a href="#">Vertical left top</a></li>
                                <li><a href="#">Vertical left center</a></li>
                                <li><a href="#">Vertical left bottom</a></li>
                                <li><a href="#">Vertical right top</a></li>
                                <li><a href="#">Vertical right center</a></li>
                                <li><a href="#">Vertical right bottom</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Slideshow</a>
                            <ul class="menu">
                                
                                <li><a href="#">Arc timer</a></li>
                                <li><a href="#">Bar timer</a></li>
                                <li><a href="#">Number timer</a></li>
                                <li><a href="#">Timer without playpause</a></li>
                                <li><a href="#">Slideshow only</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">APIs</a>
                            <ul class="menu right">
                                
                                <li><a href="#">Add/Remove tab</a></li>
                                <li><a href="#">Callback events</a></li>

                            </ul>
                        </li>

                    </ul>
                </li>

                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Buy now!</a></li>

            </ul>
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->
    





    <!-- HEADING - begin
    ============================================================== -->
    <div class="zone-pattern pa-30 ma-t-50 ma-b-50">
    <div class="container">

        <div class="title-head">
            <h1 class="">EASIEST SWAP SLIDE WITH SWIPE GESTURE ON BODY</h1>
            <p class="title-desc">tabs swipe body</p>
        </div>

    </div>
    </div>
    <!-- HEADING - end
    ============================================================== -->






    <!-- HIGHTLIGHT SECTION - begin
    ============================================================== -->
    <div class="pa-t-20 pa-b-100">
    <div class="container">

        
        <!-- TEXT NOTE -->
        <div class="note-timer">
            <img src="../libs/imgs/note_swipebody.png" alt="timer">
        </div>



        <!-- TAB FLATBOX HORIZONTAL - begin -->
        <div class="cs ct-flatbox view-no-pa" data-slider="
            isAutoRun-on
            fxOne-stickVer speed-600
            pag-{ pull: center } swipe-{ isBody : 1 } ">

            
            <div>
                <div class="cs-pagitem">SWIPE GESTURES
                    <br><small class="tab-desc">super easy switch slide</small>
                </div>

                <div class="container">
                <div class="row">

                    <div class="span12 ma-b-20">
                        <div class="dummy-img dummy-img1 ma-t-10 ma-b-10"></div>
                    </div>

                    <div class="span4">
                        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia nostrum porro ea voluptas eos sunt culpa odit enim. Assumenda, dolores.</i></p>
                    </div>

                    <div class="span8">
                        <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                        <p>Facere, cum, praesentium quo alias quasi enim recusandae dicta ut molestiae nam! Ad, eum, excepturi, voluptatum, animi consequatur est magnam eligendi repellendus suscipit accusantium consectetur deserunt voluptates nobis delectus explicabo?</p>
                    </div>

                </div>
                </div>
            </div>



            <div>
                <div class="cs-pagitem">HUGE EFFECTS
                    <br><small class="tab-desc">250+ effect out-in</small>
                </div>

                <div class="container">
                    <h1>Nullam porta dignissim nisl</h1>
                    
                    <div class="dummy-group ma-b-20">
                        <div class="dummy-img dummy-img2"></div>
                        <div class="dummy-img dummy-img3"></div>
                        <div class="dummy-img dummy-img4"></div>
                        <div class="dummy-img dummy-img5 dummy-img-end"></div>
                    </div>
                    
                    <p class="dropcap">Borem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam perferendis temporibus aspernatur iure. Temporibus, voluptatibus, earum, commodi animi blanditiis modi maxime non aliquid excepturi odit quo repellendus vel ut.</p>
                    <p>Maxime, hic, perspiciatis, accusamus repudiandae ducimus quaerat asperiores tenetur deserunt blanditiis neque quae suscipit quos nulla praesentium possimus dicta nisi voluptas quas earum minima vitae est facilis accusantium at distinctio.</p>
                    <p>Repellat, magnam, id laudantium fugiat harum aliquid eligendi quae officiis atque dolores nisi consequatur! Saepe, aut, nisi labore voluptatem ab totam ut explicabo ratione blanditiis iure. Atque, molestias accusamus dignissimos!</p>
                </div>
            </div>



            <div>
                <div class="cs-pagitem">FLAT DESIGN
                    <br><small class="tab-desc">simple - clean - beauty</small>
                </div>

                <div class="container">
                <div class="row">
                    <div class="span8 offset4">
                        <h2>Molestias accusamus digniss</h2>
                    </div>
                    
                    <div class="span4">
                        <p class="bo-l-h"><i>Temporibus quaerat nulla sunt.Natus, dolore, aspernatur, dolorum nulla rerum deserunt possimus enim neque temporibus eius laboriosam eum similique iusto sequi quisquam sit doloremque pariatur illo adipisci quos vitae nesciunt harum optio praesentium culpa.</i></p>
                    </div>

                    <div class="span8">
                        <p class="dropcap">Upsum dolor sit amet, consectetur adipisicing elit. Nulla, sapiente soluta itaque eum repellat tempora totam unde doloremque nobis. Provident, nisi, libero numquam soluta neque modi nulla ut necessitatibus ullam.</p>
                        <p>Architecto, sint, quidem nobis veniam adipisci est doloribus debitis pariatur quia corrupti repellat dolores natus facere dignissimos unde reiciendis quam nemo repudiandae modi obcaecati veritatis eius molestias voluptatem delectus saepe.</p>
                        <p>Ad, ducimus, ipsam, asperiores, sint maiores reiciendis alias officia ipsum expedita delectus magnam rerum a qui. Enim vero eaque ipsum modi perferendis sint eos sit aliquam! Placeat, assumenda animi rem.</p>
                        <p>Fugiat, ut, voluptates, nihil tenetur suscipit placeat temporibus voluptate accusantium repellendus ratione reiciendis iusto optio ad expedita incidunt odit itaque eveniet debitis a nostrum alias earum voluptas nemo laborum at!</p>
                        <p>Id, aut, tempora, dolorem illum excepturi laudantium nulla voluptates labore quasi odio reiciendis dolores ipsum dicta! Architecto, maiores laborum molestiae mollitia laboriosam quos voluptates quaerat. Ullam deleniti impedit eligendi voluptas.</p>
                    </div>
                </div>
                </div>
            </div>



            <div>
                <div class="cs-pagitem">TRUE TABS
                    <br><small class="tab-desc">no dropdown menu</small>
                </div>

                <div class="container">
                <div class="row">
                    
                    <div class="span4">
                        <h4>Ullam deleniti impedit eligendi voluptas</h4>
                        <div class="dummy-img dummy-img6 ma-b-10"></div>

                        <p class="bo-l-h ma-t-20"><i>Fugiat, ut, voluptates, nihil tenetur suscipit placeat temporibus voluptate accusantium repellendus ratione reiciendis iusto optio ad expedita incidunt.</i></p>
                    </div>

                    <div class="span4">
                        <p class="dropcap">Morem ipsum dolor sit amet, consectetur adipisicing elit. Esse, non fuga quod inventore quos dignissimos vero. Magnam, quaerat, quibusdam, maxime magni ullam reiciendis natus voluptas voluptatum at sequi debitis nihil.</p>
                        <p>Dolorem, tempore, commodi, non, a sint itaque magnam officia eaque rerum consectetur quas provident quaerat voluptas id adipisci tenetur dolor eius cum ratione doloribus dolore deleniti eum asperiores nihil temporibus!</p>
                        <p>Itaque libero delectus asperiores deserunt voluptatem nostrum illum esse quo architecto corrupti! Facere, voluptate, cumque, eius voluptatibus a velit quia animi labore earum quam quidem officia error voluptates! Veritatis, ratione?</p>
                    </div>

                    <div class="span4">
                        <p>Numquam, quibusdam error odio omnis eaque accusamus repellat ea facere. Cum, officia, est, magnam, voluptas similique optio dicta consequuntur itaque laborum dolorem inventore quidem repudiandae molestiae tempora fuga recusandae nulla.</p>
                        <p>Sed, amet iste itaque tempora quia odit deleniti molestias nulla in cumque voluptatum ut modi magni ducimus minus officiis fugiat libero ipsam cupiditate corporis unde quas quis veritatis pariatur commodi!</p>
                        <p>Laudantium, unde, molestias, a quis sed fugiat aspernatur vel magni ut autem nam accusantium temporibus voluptatum soluta iure. Rem, ab, eum at similique provident error aliquid corporis optio aperiam labore.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- TAB FLATBOX HORIZONTAL - end -->

    </div>
    </div>
    <!-- HIGHTLIGHT SECTION - end
    ============================================================== -->



    
    
    <!-- Footer - begin
    ============================================================== -->
    <div class="wrapper footer">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; 2014 Thystudio. All Rights Reserved.</p>
        </section>

    </div>
    </div>
    <!-- Footer - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->


    <script type="text/javascript">
    </script>
    <!-- Script - end
    ============================================================== -->

</body>
</html>