<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Title of page -->
    <title>OVERVIEW | CODETABS</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../libs/imgs/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../libs/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../libs/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../libs/imgs/icons/apple-touch-icon-144x144.png">

    
    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/code09.tabs.css">
    <link rel="stylesheet" href="../code/cs.tabs.css">
    <link rel="stylesheet" href="../code/animate.short.css">


    <!-- CSS embed -->
    <style>

        /* Theme */
        .menu-wide li > a {
            padding-left: 30px; padding-right: 30px;
        }
        .zone-pattern {
            background-color: #f2f2f2;
        }
        .pa-30 {
            padding-top: 30px; padding-bottom: 30px;
        }

        /* Title heading */
        .title-head > * {
            margin-bottom: 0;
            color: #0cf;
            text-align: center;
        }


        /* Title big */
        .title-big {
            overflow-y: hidden;
            height: 50px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 50px;

            font-family: 'Raleway', sans-serif;
            font-size: 65px;
            font-weight: 100;
            line-height: 1em;
            color: #ddd;
            text-align: center;
        }
        @media only screen and (min-width: 1px) and (max-width: 767px) {
            .title-big {
                height: 32px;
                font-size: 40px;
                font-weight: 200px;
            }

            .tab-desc { display: none; }
        }

    </style>



    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script> <!-- Modernizr Plugins -->
    
</head>
<body>


    <!-- Header - begin
    ============================================================== -->
    <div class="wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        .......................................................... -->
        <a class="logo" href="#" data-mScale="100">
            <img src="../libs/imgs/logo_tabs.png" alt="[logo]">
        </a>
        <!-- Logo - end
        .......................................................... -->

        

        <!-- Menu - begin
        .......................................................... -->
        <nav class="menu-hor fx-animate text-small menu-wide">
            <ul class="menu">

                <li>
                    <a href="#">Templates</a>
                    <ul class="menu">
                        
                        <li>
                            <a href="#">Effects</a>
                            <ul class="menu">
                                
                                <li><a href="#">CSS3 One effect</a></li>
                                <li><a href="#">CSS3 In/Out effect</a></li>
                                <li><a href="#">Slide classic effect</a></li>
                                <li><a href="#">Fade classic effect</a></li>
                                <li><a href="#">Control animation</a></li>
                                <li><a href="#">Random effects</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Responsive</a>
                            <ul class="menu">
                                
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Swipe tab</a></li>

                            </ul>
                        </li>
                        
                        <li>
                            <a href="#">Layout</a>
                            <ul class="menu">
                                
                                <li><a href="#">Tabs vertical</a></li>
                                <li><a href="#">Markup outside</a></li>
                                <li><a href="#">Tabs fullwidth</a></li>
                                
                                <li><a href="#">Tabs nested</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Styles</a>
                            <ul class="menu">
                                
                                <li><a href="#">Flat</a></li>
                                <li><a href="#">Flatbox</a></li>
                                <li><a href="#">underline</a></li>
                                <li><a href="#">Pill</a></li>
                                <li><a href="#">classic</a></li>

                                <li><a href="#">Flat dark</a></li>
                                <li><a href="#">Flatbox dark</a></li>
                                <li><a href="#">underline dark</a></li>
                                <li><a href="#">Pill dark</a></li>
                                <li><a href="#">classic dark</a></li>
                                
                                <li><a href="#">Tabs sizes</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Positions</a>
                            <ul class="menu">
                                
                                <li><a href="#">Horizontal top left</a></li>
                                <li><a href="#">Horizontal top center</a></li>
                                <li><a href="#">Horizontal top right</a></li>
                                <li><a href="#">Horizontal bottom left</a></li>
                                <li><a href="#">Horizontal bottom center</a></li>
                                <li><a href="#">Horizontal bottom right</a></li>

                                <li><a href="#">Vertical left top</a></li>
                                <li><a href="#">Vertical left center</a></li>
                                <li><a href="#">Vertical left bottom</a></li>
                                <li><a href="#">Vertical right top</a></li>
                                <li><a href="#">Vertical right center</a></li>
                                <li><a href="#">Vertical right bottom</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Slideshow</a>
                            <ul class="menu">
                                
                                <li><a href="#">Arc timer</a></li>
                                <li><a href="#">Bar timer</a></li>
                                <li><a href="#">Number timer</a></li>
                                <li><a href="#">Timer without playpause</a></li>
                                <li><a href="#">Slideshow only</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">APIs</a>
                            <ul class="menu right">
                                
                                <li><a href="#">Add/Remove tab</a></li>
                                <li><a href="#">Callback events</a></li>

                            </ul>
                        </li>

                    </ul>
                </li>

                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Buy now!</a></li>

            </ul>
        </nav>
        <!-- Menu - end
        .......................................................... -->

    </div>
    </div>
    <!-- Header - end
    ============================================================== -->






    <!-- HEADING - begin
    ============================================================== -->
    <div class="pa-30 zone-pattern">
    <div class="container">
        
        <div class="title-head">
            <h1 class="">SUPPORT FULLY TABS VERTICAL</h1>
        </div>

    </div>
    </div>
    <!-- HEADING - end
    ============================================================== -->






    <!-- HIGHTLIGHT SECTION - begin
    ============================================================== -->
    <div class="pa-t-50 pa-b-100">
    <div class="container">


        <!-- TAB FLATBOX HORIZONTAL - begin -->
        <div class="cs ct-flatbox" data-slider="
            layout-dot fxOne-stickVer speed-800
            pag-{ type: tab, pos: top, sizeAuto: full }
            ">

            <div>
                <div class="cs-pagitem">FIRST TABS
                    <br><small class="tab-desc">Some descriptions</small>
                </div>

                <div>
                    <h3>This is title of paragraph 1</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, omnis mollitia expedita blanditiis officia ea velit est itaque fuga quibusdam ipsa necessitatibus rerum ducimus eius quis. Dolore, voluptatibus ducimus dignissimos.</p>
                    <p>Culpa, quas, optio, architecto, dignissimos quis consectetur mollitia facilis praesentium perspiciatis ea aut similique ipsa ut vero voluptates doloremque porro. Saepe praesentium repellat modi voluptas porro suscipit iure aspernatur vero.</p>
                    <p>Fuga, sint, consequatur, ut quod corporis impedit explicabo nobis pariatur porro reprehenderit eius quasi nisi quo iure doloribus incidunt eum autem expedita odit voluptatum quos dolores culpa architecto deleniti quas.</p>
                </div>
            </div>


            <div>
                <div class="cs-pagitem">OVERVIEW
                    <br><small class="tab-desc">Feature in Codeslider</small>
                </div>

                <div>
                    <h3>This is title of paragraph 1</h3>
                    <img style="width: 400px;" src="../example/imgs/img_heavy0.jpg" alt="img heavy">
                    <img style="width: 400px;" src="../example/imgs/img_heavy1.jpg" alt="img heavy">

                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, odit officia accusantium placeat facilis delectus repellendus distinctio voluptatum quia magni. Officiis accusantium quis maxime ipsam repellendus earum ut corporis eveniet.</p>
                    <p>Temporibus ipsum dolor cum ducimus hic sunt quibusdam! Et dolor amet deserunt est. Qui, animi dicta officia inventore et ipsa harum cum cumque error consectetur quod modi iste distinctio eius.</p>
                    <p>Beatae porro rem nam eum. Voluptas, consectetur, fuga porro dignissimos nobis alias aperiam ipsam necessitatibus quos vitae rem ipsum culpa quas dolor totam corporis iusto ut vel saepe blanditiis debitis.</p>
                    <p>Doloribus, velit, qui, in iusto sint enim facere id debitis ipsam nihil voluptate consectetur natus deleniti laborum quasi suscipit eligendi vero aperiam ratione dicta error minus magni quisquam ab iure?</p>
                </div>
            </div>

            <div>
                <div class="cs-pagitem">TEMPLATES
                    <br><small class="tab-desc">More than 30 templates</small>
                </div>

                <div>
                    <h3>This is title of paragraph 2</h3>
                    <img style="width: 600px;" src="../example/imgs/img_heavy2.jpg" alt="img heavy">
                    <img style="width: 600px;" src="../example/imgs/img_heavy3.jpg" alt="img heavy">
                    <img style="width: 600px;" src="../example/imgs/img_heavy4.jpg" alt="img heavy">
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quam, placeat excepturi fugiat adipisci architecto libero officiis reprehenderit reiciendis non ex molestiae eius perferendis quisquam sapiente maxime velit pariatur suscipit.</p>
                    <p>Sapiente, eos, earum, animi ex adipisci facere ducimus non error rerum culpa minima officiis impedit ipsam numquam sed ratione maiores quos dignissimos quod necessitatibus hic odit incidunt eligendi. Quos, perferendis.</p>
                    <p>Porro, repudiandae ad cum nisi facere alias quae impedit consectetur harum nostrum. Saepe, a voluptatem officiis consequuntur porro autem commodi adipisci nam voluptatibus perspiciatis maxime quos modi dolor sequi eligendi!</p>
                    <p>Dolorum, corporis, error! Neque, reiciendis provident aliquid fuga nisi voluptatibus. Qui, culpa, doloremque, commodi, suscipit unde dolor aliquid illo beatae reiciendis libero eveniet sequi porro quas cumque iste laborum harum?</p>
                    <p>Rem, doloribus suscipit ad dolores ducimus ipsum atque reprehenderit iure quidem eveniet sunt qui quibusdam laboriosam quos ullam tenetur quis hic commodi ea saepe dolorem ipsa labore corporis dicta iusto.</p>
                </div>
            </div>

            <div>
                <div class="cs-pagitem">VIDEO
                    <br><small class="tab-desc">Support image preview</small>
                </div>

                <div>
                    <h3>This is title of paragraph 3</h3>
                    <img style="width: 940px;" src="../example/imgs/img_heavy4.jpg" alt="img heavy">
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, illo ipsam doloremque labore debitis molestias tenetur facilis suscipit quisquam iure explicabo rerum qui nihil ratione natus nesciunt deleniti praesentium alias.</p>
                    <p>Nisi, optio, fugiat, distinctio, quis eius eaque assumenda architecto commodi eligendi corporis voluptas ut amet sequi deserunt iure laboriosam aliquam sed numquam. Quisquam, est molestias ipsam vitae illum rerum consequuntur!</p>
                    <p>Dolorem, laborum, nemo, cumque inventore veniam est quam officiis reprehenderit aspernatur ipsa mollitia architecto delectus deserunt rem velit atque id consectetur expedita eligendi quisquam libero nisi pariatur. Voluptate, sint, aut.</p>
                </div>
            </div>
        </div>
        <!-- TAB FLATBOX HORIZONTAL - end -->

    </div>
    </div>
    <!-- HIGHTLIGHT SECTION - end
    ============================================================== -->



    
    
    <!-- Footer - begin
    ============================================================== -->
    <div class="wrapper footer">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; 2014 Thystudio. All Rights Reserved.</p>
        </section>

    </div>
    </div>
    <!-- Footer - end
    ============================================================== -->




    <!-- Script - begin
    ============================================================== -->
    <script src="../libs/scripts/jquery-1.10.2.min.js"></script> <!-- jQuery Libary -->
    <script src="../libs/scripts/code09.js"></script> <!-- CODE09 custom -->
    <script src="../code/codeslider.js"></script> <!-- Codeslider Plugins -->


    <script type="text/javascript">
        jQuery(document).ready(function($) {

            // Codeslider init
            $('.cs').codeslider();

        });
    </script>
    <!-- Script - end
    ============================================================== -->

</body>
</html>